kafka:
  nodes:
{% for node, values in COMBINED_KAFKANODES.items() %}
    {{ node }}:
      ip: {{ values['ip'] }}
      nodeid: {{ values['nodeid'] }}
{%-   if values['role'] != none %}
      role: {{ values['role'] }}
{%-   endif %}
{% endfor %}