{% import_yaml 'zeek/defaults.yaml' as zeek_defaults with context %}
{% set zeek_pillar = pillar.zeek %}
{% do ZEEKMERGED.zeek.config.node.update({'interface': pillar.sensor.interface})%} {# update this first so user can specify a differet interface with pillar.zeek.config.node.interface #}
{% set ZEEKMERGED = salt['defaults.merge'](zeek_defaults, zeek_pillar, in_place=False) %}



{% set ZEEKOPTIONS = {} %}
{% set ENABLED = salt['pillar.get']('zeek:enabled', True) %}

# don't start the docker container if it is an import node or disabled via pillar
{% if grains.id.split('_')|last == 'import' or not ENABLED %}
  {% do ZEEKOPTIONS.update({'start': False}) %}
  {% do ZEEKOPTIONS.update({'pl_cron_state': 'absent'}) %}
{% else %}
  {% do ZEEKOPTIONS.update({'start': True}) %}
  {% do ZEEKOPTIONS.update({'pl_cron_state': 'present'}) %}
{% endif %}

{% if not ENABLED %}
  {% do ZEEKOPTIONS.update({'status': 'absent'}) %}
{% else %}
  {% do ZEEKOPTIONS.update({'status': 'running'}) %}
{% endif %}
