{% set ZEEKOPTIONS = {} %}
{% set ENABLED = salt['pillar.get']('zeek:enabled', 'True') %}

# don't start the docker container if it is an import node or disabled via pillar
{% if grains.id.split('_')|last == 'import' or ENABLED is sameas false %}
  {% do ZEEKOPTIONS.update({'start': False}) %}
{% else %}
  {% do ZEEKOPTIONS.update({'start': True}) %}
{% endif %}

{% if ENABLED is sameas false %}
  {% do ZEEKOPTIONS.update({'status': 'absent'}) %}
{% else %}
  {% do ZEEKOPTIONS.update({'status': 'running'}) %}
{% endif %}