{% import_yaml 'suricata/defaults.yaml' as suricata_defaults with context -%}
{% do salt['defaults.merge'](suricata_defaults.suricata.classification, salt['pillar.get']('suricata:classification', {}), in_place=True) -%}
#
# config classification:shortname,short description,priority
#
{% for sn, details in suricata_defaults.suricata.classification.items() -%}
{%   if not details -%}
{%     set details = {'description': 'The description is not set', 'priority': '1'} -%}
{%   endif -%}
config classification: {{sn}}, {{details.get('description', 'The description is not set')}}, {{details.get('priority', '1')}}
{% endfor -%}
