##! Local site policy.

{%- set ALLOWEDOPTIONS = [ '@load', '@load-sigs', 'redef' ] %}

{%- for k, v in LOCAL.items() %}
  {%- if k|lower in ALLOWEDOPTIONS %}
    {%- for li in v|sort %}
{{ k }} {{ li }}
    {%- endfor %}
  {%- endif %}
{%- endfor %}