[manager]
type=manager
host=localhost

[logger]
type=logger
host=localhost

[proxy]
type=proxy
host=localhost

[worker-1]
type=worker
host=localhost
interface=af_packet::{{ ZEEKNODE.interface }}
lb_method=custom
  {%- if ZEEKNODE.lbprocs %}
lb_procs={{ ZEEKNODE.lbprocs }}
    {%- else %}
lb_procs={{ ZEEKNODE.zeek_pins | length }}
  {%- endif %}
  {%- if ZEEKNODE.zeek_pins %}
pin_cpus={{ ZEEKNODE.zeek_pins | join(", ") }}
  {%- endif %}
af_packet_fanout_id=23
af_packet_fanout_mode=AF_Packet::FANOUT_HASH
af_packet_buffer_size={{ ZEEKNODE.zeek_buffer }}
{%- else %}
[zeeksa]
type=standalone
host=localhost
interface={{ ZEEKNODE.interface }}
{%- endif %}
