{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "description": "Detailed {{NODETYPE}}",
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "id": {{ ID }},
  "iteration": 1625757047565,
  "links": [],
  "panels": [
{% for panel in PANELS -%}
{%-  import_json "grafana/panels/" ~ panel ~ ".json.jinja" as panel %}
{{   panel | json }} {% if not loop.last  %},{% endif %}
{% endfor -%}
  ],
  "schemaVersion": 27,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": [
{% for template in TEMPLATES -%}
{%-  import_json "grafana/templates/" ~ template ~ ".json" as template %}
{{   template | json }} {% if not loop.last  %},{% endif %}
{% endfor -%}
    ]
  },
  "time": {
    "from": "now-3h",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": [
      "30s",
      "1m",
      "5m",
      "15m",
      "30m",
      "1h",
      "2h",
      "1d"
    ]
  },
  "timezone": "browser",
  "title": "Detailed {{ NODETYPE }}",
  {% if NODETYPE | lower in 'overview' %}
  "uid": "so_overview",
  {% endif %}
  "version": 1
}
