filebeat:
  config:
    inputs:
      - type: filestream
        paths:
          - /nsm/mylogdir/mylog.log
        fields:
          module: mymodule
          dataset: mydataset
          category: mycategory

        processors:
          - drop_fields:
              fields: '["source", "prospector", "input", "offset", "beat"]'

        fields_under_root: true
        clean_removed: false
        close_removed: false
    output:
      file:
        path: "/tmp/filebeat"
        filename: filebeat
