{% set docker = {
  'containers': [
    'so-nginx',
    'so-telegraf',
    'so-redis',
    'so-logstash',
    'so-elasticsearch',
    'so-curator',
    'so-steno',
    'so-suricata',
    'so-wazuh',
    'so-filebeat
  ]
} %}