{% set docker = {
  'containers': [
    'so-nginx',
    'so-telegraf',
    'so-soc',
    'so-kratos',
    'so-idstools',
    'so-redis',
    'so-logstash',
    'so-elasticsearch',
    'so-curator',
    'so-kibana',
    'so-elastalert',
    'so-filebeat',
    'so-soctopus'
  ]
} %}

{% if salt['pillar.get']('global:managerupdate') == 1 %}
   {% do docker.containers.append('so-aptcacherng') %}
{% endif %}