{% set docker = {
  'containers': [
    'so-nginx',
    'so-telegraf',
    'so-soc',
    'so-kratos',
    'so-aptcacherng',
    'so-idstools',
    'so-redis',
    'so-logstash',
    'so-elasticsearch',
    'so-curator',
    'so-kibana',
    'so-elastalert',
    'so-filebeat',
    'so-suricata',
    'so-steno',
    'so-dockerregistry',
    'so-soctopus',
    'so-sensoroni'
  ]
} %}