{%- set MANAGER = salt['grains.get']('master') %}
{%- set THREADS = salt['pillar.get']('logstash_settings:ls_input_threads', '') %}
{% set BATCH = salt['pillar.get']('logstash_settings:ls_pipeline_batch_size', 125) %}

## TO DO - Add this to Logstash Pipeline Pillar - Manager

input {
	redis {
		host => '{{ MANAGER }}'
		port => 6379
		data_type => 'pattern_channel'
		key => 'results_*'
		type => 'osq'
		threads => {{ THREADS }}
		batch_count => {{ BATCH }}
	}
}
