{% set kafka_brokers = salt['pillar.get']('logstash:nodes:kafkanode', {}) %}
{% set broker_ips = [] %}
{% for node, node_data in kafka_brokers.items() %}
  {% do broker_ips.append(node_data['ip'] + ":9092") %}
{% endfor %}

{% set bootstrap_servers = "','".join(broker_ips) %}

#Run on kafka broker logstash writes to topic 'logstash-topic'
output {
    kafka {
        codec => json
        topic_id => 'logstash-topic'
        bootstrap_servers => '{{ bootstrap_servers }}'
        security_protocol => 'SSL'
        ssl_keystore_location => '/usr/share/logstash/kafka-logstash.p12'
        ssl_keystore_password => ''
        ssl_keystore_type => 'PKCS12'
        ssl_truststore_location => '/etc/pki/ca-trust/extracted/java/cacerts'
        ssl_truststore_password => 'changeit'
    }
}