{%- set THREADS = salt['pillar.get']('logstash_settings:ls_input_threads', '') %}
{%- set BATCH = salt['pillar.get']('logstash_settings:ls_pipeline_batch_size', 125) %}

{%- from 'logstash/map.jinja' import EXTRA_HOSTS with context %}

{%- for host_ip in EXTRA_HOSTS %}
input {
	redis {
		host => '{{ host_ip.split(':')[0] }}'
		port => 9696
		ssl => true
		data_type => 'list'
		key => 'logstash:unparsed'
		type => 'redis-input'
		threads => {{ THREADS }}
		batch_count => {{ BATCH }}
	}
}
{%- endfor %}
