{%- if grains.role == 'so-heavynode' %}
{%- set MASTER = salt['pillar.get']('elasticsearch:mainip', '') %}
{%- else %}
{%- set MASTER = salt['pillar.get']('static:masterip', '') %}
{% endif -%}
{%- set THREADS = salt['pillar.get']('logstash_settings:ls_input_threads', '') %}

input {
	redis {
		host => '{{ MASTER }}'
		data_type => 'list'
		key => 'logstash:unparsed'
		type => 'redis-input'
		threads => {{ THREADS }}
	}
}
