{%- if grains['role'] == 'so-eval' -%}
{%- set ES = salt['pillar.get']('manager:mainip', '') -%}
{%- else %}
{%- set ES = salt['pillar.get']('elasticsearch:mainip', '') -%}
{%- endif %}
output {
 if [event][module] == 'zeek' {
   elasticsearch {
     id => "zeek_logs"
     pipeline => "filebeat-%{[agent][version]}-zeek-%{[fileset][name]}-pipeline"
     hosts => "{{ ES }}"
     index => "so-zeek-%{+YYYY.MM.dd}"
     template_name => "so-common"
     template => "/templates/so-common-template.json"
     template_overwrite => true
     ssl => true
     ssl_certificate_verification => false
   }
 }
}
