{%- if grains['role'] == 'so-eval' -%}
{%- set ES = salt['pillar.get']('master:mainip', '') -%}
{%- else %}
{%- set ES = salt['pillar.get']('node:mainip', '') -%}
{%- endif %}
# Updated by: Doug Burks
# Last Update: 5/16/2017

filter {
  if "import" in [tags] and "test_data" not in [tags] {
    mutate {
	  ##add_tag => [ "conf_file_9002"]
	}
  }
}
output {
  if "import" in [tags] and "test_data" not in [tags] {
#    stdout { codec => rubydebug }
    elasticsearch {
      hosts => "{{ ES }}"
      index => "so-import-%{+YYYY.MM.dd}"
      template_name => "so-common"
      template => "/so-common-template.json"
      template_overwrite => true
    }
  }
}
