{%- if grains['role'] == 'so-eval' -%}
{%- set ES = salt['pillar.get']('manager:mainip', '') -%}
{%- else %}
{%- set ES = salt['pillar.get']('elasticsearch:mainip', '') -%}
{%- endif %}
{% set FEATURES = salt['pillar.get']('elastic:features', False) %}
output {
  if [event_type] == "ids" and "import" not in [tags] {
    elasticsearch {
      {%- if FEATURES is sameas true %}
      hosts => "https://{{ ES }}"
      cacert => '/ca/ca.crt'
      {%- else %}
      hosts => "{{ ES }}"
      {%- endif %}
      index => "so-ids-%{+YYYY.MM.dd}"
      template_name => "so-ids"
      template => "/templates/so-ids-template.json"
      template_overwrite => true
    }
  }
}
