output {
  if "filebeat" in [metadata][pipeline] {
    elasticsearch {
      id => "filebeat_modules_metadata_pipeline"
      pipeline => "%{[metadata][pipeline]}"
      hosts => "{{ GLOBALS.manager }}"
      user => "{{ ES_USER }}"
      password => "{{ ES_PASS }}"
      index => "so-%{[event][module]}-%{+YYYY.MM.dd}"
      ssl => true
      ssl_certificate_verification => false
    }
  }
}
