{%- if grains['role'] == 'so-eval' -%}
{%- set ES = salt['pillar.get']('master:mainip', '') -%}
{%- else %}
{%- set ES = salt['pillar.get']('elasticsearch:mainip', '') -%}
{%- endif %}
# Author: Justin Henderson
#         SANS Instructor and author of SANS SEC555: SIEM and Tactical Analytics
# Email: justin@hasecuritysolution.com
# Last Update: 12/9/2016

filter {
  if [module] == "suricata" {
    mutate {
	  ##add_tag => [ "conf_file_9400"]
	}
  }
}
output {
  if [module] =~ "suricata" {
    elasticsearch {
      pipeline => "%{module}.%{dataset}"
      hosts => "{{ ES }}"
      index => "so-ids-%{+YYYY.MM.dd}"
      template_name => "so-common" 
      template => "/so-common-template.json"
    }
  }
}
