{%- if grains['role'] == 'so-eval' -%}
{%- set ES = salt['pillar.get']('master:mainip', '') -%}
{%- else %}
{%- set ES = salt['pillar.get']('node:mainip', '') -%}
{%- endif %}

output {
  if "beat-ext" in [tags] {
    elasticsearch {
      pipeline => "beats.common" 
      hosts => "{{ ES }}"
      index => "so-beats-%{+YYYY.MM.dd}"
      template_name => "so-common"
      template => "/so-common-template.json"
      template_overwrite => true
    }
  }
}
