{%- if grains['role'] == 'so-eval' -%}
{%- set ES = salt['pillar.get']('master:mainip', '') -%}
{%- else %}
{%- set ES = salt['pillar.get']('node:mainip', '') -%}
{%- endif %}
# Author: Wes Lambert
# Last Update: 09/14/2018
filter {
  if "beat" in [tags] {
    mutate {
          ##add_tag => [ "conf_file_9500"]
        }
  }
}
output {
  if "beat" in [tags] {
    elasticsearch {
      hosts => "{{ ES }}"
      index => "so-beats-%{+YYYY.MM.dd}"
      template_name => "so-beats"
      template => "/so-beats-template.json"
      template_overwrite => true
    }
  }
}
