{%- if grains['role'] == 'so-eval' -%}
{%- set ES = salt['pillar.get']('master:mainip', '') -%}
{%- else %}
{%- set ES = salt['pillar.get']('node:mainip', '') -%}
{%- endif %}
# Author: Justin Henderson
#         SANS Instructor and author of SANS SEC555: SIEM and Tactical Analytics
# Email: justin@hasecuritysolution.com
# Last Update: 12/9/2016


filter {
  if [event_type] =~ "strelka" {
    mutate {
          ##add_tag => [ "conf_file_9000"]
        }
  }
}
output {
  if [event_type] =~ "strelka" {
    elasticsearch {
      hosts => "{{ ES }}"
      index => "so-strelka-%{+YYYY.MM.dd}"
      template_name => "so-strelka"
      template => "/so-strelka-template.json"
      template_overwrite => true
    }
  }
}

