{%- if grains['role'] == 'so-eval' -%}
{%- set ES = salt['pillar.get']('manager:mainip', '') -%}
{%- else %}
{%- set ES = salt['pillar.get']('elasticsearch:mainip', '') -%}
{%- endif %}
{% set FEATURES = salt['pillar.get']('elastic:features', False) %}
output {
  if [module] =~ "strelka" {
    elasticsearch {
      pipeline => "%{module}.%{dataset}" 
      {%- if FEATURES %}
      hosts => "https://{{ ES }}"
      cacert => '/ca/ca.crt'
      {%- else %}
      hosts => "{{ ES }}"
      {%- endif %}
      index => "so-strelka-%{+YYYY.MM.dd}"
      template_name => "so-strelka"
      template => "/templates/so-strelka-template.json"
      template_overwrite => true
    }
  }
}

