{%- set ES = salt['grains.get']('master') -%}
{%- set ES_USER = salt['pillar.get']('elasticsearch:auth:users:so_elastic_user:user', '') %}
{%- set ES_PASS = salt['pillar.get']('elasticsearch:auth:users:so_elastic_user:pass', '') %}

output {
  if [module] =~ "logscan" {
    elasticsearch {
      id => "logscan_pipeline"
      pipeline => "logscan.alert"
      hosts => "{{ ES }}"
      user => "{{ ES_USER }}"
      password => "{{ ES_PASS }}"
      index => "so-logscan"
      ssl => true
      ssl_certificate_verification => false
    }
  }
}
