filter {
       mutate {
                    add_tag => "fleet-lumberjack-{{ GLOBALS.hostname }}"
          }
  }

output { 
    lumberjack { 
        codec => json 
        hosts => "{{ GLOBALS.manager }}"
        ssl_certificate => "/usr/share/filebeat/ca.crt"
        port => 5056 
        id => "fleet-lumberjack-{{ GLOBALS.hostname }}"
        } 
    }