output {
  http {
    url => 'https://{{ GLOBALS.manager }}:5056'
    cacert => ["/usr/share/filebeat/ca.crt"]
    http_method => post
    retry_non_idempotent => true
    format => json_batch
    http_compression => true
    ecs_compatibility => v8
  }
}