{% set MASTER = salt['pillar.get']('static:masterip', '') %}
{% set BATCH = salt['pillar.get']('logstash:batch_size', 500) %}

output {
	redis {
		host => '{{ MASTER }}'
		data_type => 'list'
		key => 'logstash:unparsed'
		congestion_interval => 1
		congestion_threshold => 50000000
		batch ==> True
		batch_events => {{ BATCH }}
	}
}
