{
  "cacheTimeout": null,
  "colorBackground": false,
  "colorValue": false,
  "colors": [
    "rgba(245, 54, 54, 0.9)",
    "rgba(237, 129, 40, 0.89)",
    "rgba(50, 172, 45, 0.97)"
  ],
  "datasource": "InfluxDB",
  "decimals": 0,
  "editable": true,
  "error": false,
  "format": "short",
  "gauge": {},
  "gridPos": {
    "x": {{ PANELS.estimated_eps_singlestat.gridPos.x }},
    "y": {{ PANELS.estimated_eps_singlestat.gridPos.y }},
    "w": {{ PANELS.estimated_eps_singlestat.gridPos.w }},
    "h": {{ PANELS.estimated_eps_singlestat.gridPos.h }}
  },
  "height": "150",
  "id": 23,
  "interval": null,
  "links": [],
  "mappingType": 1,
  "mappingTypes": [
    {
      "name": "value to text",
      "value": 1
    },
    {
      "name": "range to text",
      "value": 2
    }
  ],
  "maxDataPoints": 100,
  "nullPointMode": "connected",
  "nullText": null,
  "postfix": "",
  "postfixFontSize": "50%",
  "prefix": "",
  "prefixFontSize": "50%",
  "rangeMaps": [
    {
      "from": "null",
      "text": "N/A",
      "to": "null"
    }
  ],
  "sparkline": {
    "fillColor": "rgba(31, 118, 189, 0.18)",
    "full": false,
    "lineColor": "rgb(31, 120, 193)",
    "show": true
  },
  "tableColumn": "",
  "targets": [
    {
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "consumptioneps",
      "orderByTime": "ASC",
      "policy": "default",
      "queryType": "randomWalk",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "eps"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$servername"
        }
      ]
    }
  ],
  "thresholds": "",
  "title": "Estimated EPS",
  "type": "singlestat",
  "valueFontSize": "100%",
  "valueMaps": [
    {
      "op": "=",
      "text": "N/A",
      "value": "null"
    }
  ],
  "valueName": "current",
  "fieldConfig": {
    "defaults": {},
    "overrides": []
  }
}
