{%- import_yaml 'redis/defaults.yaml' as REDISDEFAULTS %}
{%- set REDISMERGED = salt['pillar.get']('redis', default=REDISDEFAULTS.redis, merge=true) %}

{%- for k, v in REDISMERGED.config.items() %}
{%-   if v is iterable and v is not string %}
{%-     for v1, v2 in v.items() %}
{{k}} {{v1}} {{v2}}
{%-     endfor %}
{%-   else %}
{{ k }} {{ v }}
{%-   endif %}
{%- endfor %}
