{# Copyright Security Onion Solutions LLC and/or licensed to Security Onion Solutions LLC under one
   or more contributor license agreements. Licensed under the Elastic License 2.0 as shown at 
   https://securityonion.net/license; you may not use this file except in compliance with the
   Elastic License 2.0. #}

{%- for k, v in REDISMERGED.config.items() %}
{%-   if v is iterable and v is not string %}
{%-     for v1, v2 in v.items() %}
{{k}} {{v1}} {{v2}}
{%-     endfor %}
{%-   else %}
{{ k }} {{ v }}
{%-   endif %}
{%- endfor %}
