{% import_yaml 'redis/defaults.yaml' as redis %}

{%- for k, v in redis.redis.config.items() %}
{%-   if v is iterable and v is not string %}
{%-     for v1, v2 in v.items() %}
{{k}} {{v1}} {{v2}}
{%-     endfor %}
{%-   else %}
{{ k }} {{ v }}
{%-   endif %}
{%- endfor %}
