{% from 'salt/auto_apply.map.jinja' import AUTOAPPLY %}
beacons:
  postgres_pillar_beacon:
    - interval: {{ AUTOAPPLY.drain_interval }}
    - disable_during_state_run: False
  rules_beacon:
    - interval: {{ AUTOAPPLY.drain_interval }}
    - disable_during_state_run: False
    - paths:
        /opt/so/saltstack/local/salt/suricata/rules: suricata
        /opt/so/saltstack/local/salt/strelka/rules/compiled: strelka
