{% for tabtype in ['managertab', 'managersearchtab', 'standalonetab', 'sensorstab', 'nodestab', 'evaltab'] %}
  {% set node_type_data = salt['pillar.get'](tabtype, False) %}
  {% if node_type_data %}
    {{ node_type_data | json }}
  {% endif %}
{% endfor %}
