{% from 'vars/globals.map.jinja' import GLOBALS -%}
{
{%- if grains.role in  ['so-standalone', 'so-eval', 'so-sensor', 'so-heavynode', ] %}
  "monint": "{{ salt['pillar.get']('sensor:interface', '') }}",
{%- endif %}
  "manint": "{{ GLOBALS.main_interface }}"
}
