{
  "manint": "{{ salt['pillar.get']('host:mainint', '') }}",
{%- if grains.role in  ['so-standalone', 'so-eval', 'so-sensor', 'so-heavynode', ] %}
  "monint": "{{ salt['pillar.get']('sensor:interface', '') }}"
{% endif -%}
}
