{% set CURATOROPTIONS = {} %}
{% set ENABLED = salt['pillar.get']('curator:enabled', True) %}
{% set TRUECLUSTER = salt['pillar.get']('elasticsearch:true_cluster', False) %}
{% do CURATOROPTIONS.update({'manage_sostatus': True}) %}

# don't start the docker container if curator is disabled via pillar
{% if not ENABLED or grains.id.split('_')|last == 'manager'%}
  {% do CURATOROPTIONS.update({'start': False}) %}
  {% do CURATOROPTIONS.update({'status': 'absent'}) %}
  {% if grains.id.split('_')|last == 'manager' %}
    {% do CURATOROPTIONS.update({'manage_sostatus': False}) %}
  {% endif %}
{% else %}
  {% do CURATOROPTIONS.update({'start': True}) %}
  {% do CURATOROPTIONS.update({'status': 'running'}) %}
{% endif %}
