{% from 'vars/globals.map.jinja' import GLOBALS %}

{% if GLOBALS.os_family == 'RedHat' %}
  {% set REPOPATH = '/etc/yum.repos.d/' %}
{%     if GLOBALS.os == 'OEL' %}
  {% set ABSENTFILES = [
         'centos-addons.repo',
         'centos-devel.repo',
         'centos-extras.repo',
         'centos.repo',
         'docker-ce.repo',
         'epel.repo',
         'epel-testing.repo',
         'saltstack.repo',
         'salt-latest.repo',
         'wazuh.repo'
         'Rocky-Base.repo',
         'Rocky-CR.repo',
         'Rocky-Debuginfo.repo',
         'Rocky-fasttrack.repo',
         'Rocky-Media.repo',
         'Rocky-Sources.repo',
         'Rocky-Vault.repo',
         'Rocky-x86_64-kernel.repo',
         'rocky-addons.repo',
         'rocky-devel.repo',
         'rocky-extras.repo',
         'rocky.repo',
         'oracle-linux-ol9',
         'uek-ol9',
         'virt-oll9'
       ]
  %}
{%     else %}
  {% set ABSENTFILES = [] %}
{%    endif %}

{% else %}

  {% set REPOPATH = '/etc/apt/sources.list.d/' %}
  {% set ABSENTFILES = [] %}

{% endif %}
