{% if grains.os == 'CentOS' %}

  {% set REPOPATH = '/etc/yum.repos.d/' %}
  {% set ABSENTFILES = [
         'CentOS-Base.repo',
         'CentOS-CR.repo',
         'CentOS-Debuginfo.repo',
         'CentOS-fasttrack.repo',
         'CentOS-Media.repo',
         'CentOS-Sources.repo',
         'CentOS-Vault.repo',
         'CentOS-x86_64-kernel.repo',
         'docker-ce.repo',
         'epel.repo',
         'epel-testing.repo',
         'saltstack.repo',
         'wazuh.repo'
       ]
  %}

{% elif grains.os == 'Ubuntu' %}

  {% set REPOPATH = '/etc/apt/sources.list.d/' %}
  {% set ABSENTFILES = [] %}

{% endif %}