{% import 'vars/init.map.jinja' as INIT %}

{%

  set ELASTICSEARCH_GLOBALS = {
    'elasticsearch': {
      'auth': INIT.PILLAR.elasticsearch.auth,
      'es_cluster_name': INIT.PILLAR.elasticsearch.config.cluster.name,
      'es_heap': INIT.PILLAR.elasticsearch.esheap
    }
  }


%}
