{% set ROLE_GLOBALS = {} %}

{% set SENSOR_GLOBALS = {
    'sensor': {
      'interface': pillar.sensor.interface
    }
   }
%}

{% do salt['defaults.merge'](ROLE_GLOBALS, SENSOR_GLOBALS, merge_lists=False, in_place=True) %}
