{% from 'vars/elasticsearch.map.jinja' import ELASTICSEARCH_GLOBALS %}
{% from 'vars/logstash.map.jinja' import LOGSTASH_GLOBALS %}
{% from 'vars/sensor.map.jinja' import SENSOR_GLOBALS %}

{% set ROLE_GLOBALS = {} %}

{% set STANDALONE_GLOBALS =
   [
     ELASTICSEARCH_GLOBALS,
     LOGSTASH_GLOBALS,
     SENSOR_GLOBALS
   ]
%}

{% for sg in STANDALONE_GLOBALS %}
{%   do salt['defaults.merge'](ROLE_GLOBALS, sg, merge_lists=False, in_place=True) %}
{% endfor %}
