{% import_yaml 'elastalert/defaults.yaml' as elastalert_defaults with context %}
{% set elastalert_pillar = salt['pillar.get']('elastalert:config', {}) %}

{% do salt['defaults.merge'](elastalert_defaults.elastalert.config, elastalert_pillar, in_place=True) %}