{% import_yaml 'elastalert/defaults.yaml' as ELASTALERT with context %}
{% set elastalert_pillar = salt['pillar.get']('elastalert:config', {}) %}


{% do ELASTALERT.elastalert.config.update({'es_host': pillar.global.managerip}) %}
{% do ELASTALERT.elastalert.config.update({'es_username': pillar.elasticsearch.auth.users.so_elastic_user.user}) %}
{% do ELASTALERT.elastalert.config.update({'es_password': pillar.elasticsearch.auth.users.so_elastic_user.pass}) %}

{% do salt['defaults.merge'](ELASTALERT.elastalert.config, elastalert_pillar, in_place=True) %}

