{% set ELASTICAUTH = salt['pillar.filter_by']({
    True: {
      'user': salt['pillar.get']('elasticsearch:auth:user'), 
      'pass': salt['pillar.get']('elasticsearch:auth:pass'), 
      'elasticcurl':'curl -K /opt/so/conf/elasticsearch/curl.config' },
    False: {'elasticcurl': 'curl'},
}, pillar='elasticsearch:auth:enabled', default=False) %}
