{% import_yaml 'kibana/defaults.yaml' as KIBANACONFIG with context %}

{% if salt['pillar.get']('elasticsearch:auth:enabled', False) %}
  {% do KIBANACONFIG.kibana.config.elasticsearch.update({'username': salt['pillar.get']('elasticsearch:auth:users:so_elastic_user:user'), 'password': salt['pillar.get']('elasticsearch:auth:users:so_elastic_user:pass')}) %}
{% else %}
  {% do KIBANACONFIG.kibana.config.update({'xpack': {'security': {'authc': {'providers': {'anonymous': {'anonymous1': {'order': 0, 'credentials': 'elasticsearch_anonymous_user'}}}}}}}) %}
{% endif %}

{% set SAVED_OBJECTS = salt['pillar.get']('kibana:saved_objects', default=KIBANACONFIG.kibana.saved_objects, merge=True) %}
{% set KIBANACONFIG = salt['pillar.get']('kibana:config', default=KIBANACONFIG.kibana.config, merge=True) %}
