{
  "aliasColors": {},
  "dashLength": 10,
  "datasource": "InfluxDB",
  "decimals": 1,
  "fieldConfig": {
    "defaults": {
      "unit": "percent"
    },
    "overrides": []
  },
  "gridPos": {
    "x": {{ PANELS.cpu_usage_current_graph.gridPos.x }},
    "y": {{ PANELS.cpu_usage_current_graph.gridPos.y }},
    "w": {{ PANELS.cpu_usage_current_graph.gridPos.w }},
    "h": {{ PANELS.cpu_usage_current_graph.gridPos.h }}
  },
  "id": 69001,
  "interval": "30",
  "legend": {
    "alignAsTable": true,
    "avg": true,
    "current": true,
    "max": true,
    "min": false,
    "rightSide": true,
    "show": true,
    "sort": "current",
    "sortDesc": true,
    "total": false,
    "values": true
  },
  "lines": true,
  "linewidth": 1,
  "maxDataPoints": 750,
  "nullPointMode": "connected",
  "options": {
    "alertThreshold": true
  },
  "pluginVersion": "7.5.4",
  "pointradius": 2,
  "renderer": "flot",
  "seriesOverrides": [],
  "spaceLength": 10,
  "targets": [
    {
      "alias": "$tag_host $tag_role",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "host"
          ],
          "type": "tag"
        },
        {
          "type": "tag",
          "params": [
            "role"
          ]
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "cpu",
      "orderByTime": "ASC",
      "policy": "default",
      "queryType": "randomWalk",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "usage_idle"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "math",
            "params": [
              "*-1 + 100"
            ]
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=~",
          "value": "/^$servername$/"
        },
        {
          "condition": "AND",
          "key": "cpu",
          "operator": "=",
          "value": "cpu-total"
        },
        {
          "condition": "AND",
          "key": "role",
          "operator": "=~",
          "value": "/^$role$/"
        }
      ]
    }
  ],
  "thresholds": [],
  "timeRegions": [],
  "title": "CPU Usage",
  "tooltip": {
    "shared": true,
    "sort": 2,
    "value_type": "individual"
  },
  "type": "graph",
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "$$hashKey": "object:933",
      "format": "percent",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": "0",
      "show": true
    },
    {
      "$$hashKey": "object:934",
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    }
  ],
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "bars": false,
  "dashes": false,
  "fill": 0,
  "fillGradient": 0,
  "hiddenSeries": false,
  "percentage": false,
  "points": false,
  "stack": false,
  "steppedLine": false,
  "timeFrom": null,
  "timeShift": null
}
