{
  "type": "graph",
  "title": "CPU Usage",
    "gridPos": {
    "x": {{ PANELS.cpu_usage_tasks_graph.gridPos.x }},
    "y": {{ PANELS.cpu_usage_tasks_graph.gridPos.y }},
    "w": {{ PANELS.cpu_usage_tasks_graph.gridPos.w }},
    "h": {{ PANELS.cpu_usage_tasks_graph.gridPos.h }}
  },
  "id": 61871,
  "targets": [
    {
      "refId": "A",
      "queryType": "randomWalk",
      "policy": "default",
      "resultFormat": "time_series",
      "orderByTime": "ASC",
      "tags": [],
      "groupBy": [
        {
          "type": "time",
          "params": [
            "$__interval"
          ]
        },
        {
          "type": "fill",
          "params": [
            "null"
          ]
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "value"
            ]
          },
          {
            "type": "mean",
            "params": []
          }
        ]
      ],
      "query": "SELECT mean(usage_user) as \"user\", mean(usage_system) as \"system\", mean(usage_softirq) as \"softirq\", mean(usage_steal) as \"steal\", mean(usage_nice) as \"nice\", mean(usage_irq) as \"irq\", mean(usage_iowait) as \"iowait\", mean(usage_guest) as \"guest\", mean(usage_guest_nice) as \"guest_nice\"  FROM \"cpu\" WHERE \"host\" =~ /^$servername$/ and cpu = 'cpu-total' AND $timeFilter GROUP BY time($interval), *",
      "rawQuery": true,
      "alias": "$tag_host: $col"
    }
  ],
  "options": {
    "alertThreshold": true
  },
  "datasource": "InfluxDB",
  "fieldConfig": {
    "defaults": {},
    "overrides": []
  },
  "pluginVersion": "7.5.4",
  "renderer": "flot",
  "yaxes": [
    {
      "label": null,
      "show": true,
      "logBase": 1,
      "min": "0",
      "max": "100",
      "format": "percent",
      "$$hashKey": "object:202",
      "decimals": null
    },
    {
      "label": null,
      "show": true,
      "logBase": 1,
      "min": null,
      "max": null,
      "format": "short",
      "$$hashKey": "object:203"
    }
  ],
  "xaxis": {
    "show": true,
    "mode": "time",
    "name": null,
    "values": [],
    "buckets": null
  },
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "lines": true,
  "fill": 1,
  "linewidth": 1,
  "dashLength": 10,
  "spaceLength": 10,
  "pointradius": 2,
  "legend": {
    "show": true,
    "values": true,
    "min": true,
    "max": true,
    "current": true,
    "total": false,
    "avg": true,
    "alignAsTable": true,
    "hideEmpty": true,
    "hideZero": true
  },
  "nullPointMode": "connected",
  "tooltip": {
    "value_type": "individual",
    "shared": true,
    "sort": 0
  },
  "aliasColors": {},
  "seriesOverrides": [],
  "thresholds": [],
  "timeRegions": [],
  "fillGradient": 0,
  "dashes": false,
  "hiddenSeries": false,
  "points": false,
  "bars": false,
  "stack": false,
  "percentage": false,
  "steppedLine": false
}
