{
  "aliasColors": {},
  "dashLength": 10,
  "datasource": "InfluxDB",
  "editable": true,
  "fill": 1,
  "grid": {},
  "gridPos": {
    "x": {{ PANELS.cpu_usage_tasks_graph.gridPos.x }},
    "y": {{ PANELS.cpu_usage_tasks_graph.gridPos.y }},
    "w": {{ PANELS.cpu_usage_tasks_graph.gridPos.w }},
    "h": {{ PANELS.cpu_usage_tasks_graph.gridPos.h }}
  },
  "height": "300",
  "id": 27,
  "interval": "$inter",
  "legend": {
    "alignAsTable": true,
    "avg": true,
    "current": true,
    "hideEmpty": true,
    "hideZero": true,
    "max": true,
    "min": true,
    "rightSide": false,
    "show": true,
    "sort": "current",
    "sortDesc": true,
    "total": false,
    "values": true
  },
  "lines": true,
  "linewidth": 1,
  "links": [],
  "nullPointMode": "connected",
  "options": {
    "alertThreshold": true
  },
  "pointradius": 5,
  "renderer": "flot",
  "seriesOverrides": [],
  "spaceLength": 10,
  "targets": [
    {
      "alias": "$tag_host: $col",
      "dsType": "influxdb",
      "function": "mean",
      "groupBy": [
        {
          "interval": "auto",
          "params": [
            "auto"
          ],
          "type": "time"
        },
        {
          "key": "host",
          "params": [
            "tag"
          ],
          "type": "tag"
        }
      ],
      "hide": false,
      "measurement": "cpu",
      "policy": "default",
      "query": "SELECT mean(usage_user) as \"user\", mean(usage_system) as \"system\", mean(usage_softirq) as \"softirq\", mean(usage_steal) as \"steal\", mean(usage_nice) as \"nice\", mean(usage_irq) as \"irq\", mean(usage_iowait) as \"iowait\", mean(usage_guest) as \"guest\", mean(usage_guest_nice) as \"guest_nice\"  FROM \"cpu\" WHERE \"host\" =~ /$servername$/ and cpu = 'cpu-total' AND $timeFilter GROUP BY time($interval), *",
      "rawQuery": true,
      "refId": "B",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "value"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": [],
      "orderByTime": "ASC"
    }
  ],
  "thresholds": [],
  "timeRegions": [],
  "title": "CPU usage",
  "tooltip": {
    "msResolution": false,
    "shared": true,
    "sort": 0,
    "value_type": "cumulative"
  },
  "type": "graph",
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "format": "percent",
      "logBase": 1,
      "max": 100,
      "min": 0,
      "show": true,
      "$$hashKey": "object:1007"
    },
    {
      "format": "short",
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true,
      "$$hashKey": "object:1008"
    }
  ],
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "fieldConfig": {
    "defaults": {
      "links": []
    },
    "overrides": []
  },
  "pluginVersion": "7.5.4",
  "bars": false,
  "dashes": false,
  "error": false,
  "fillGradient": 0,
  "percentage": false,
  "points": false,
  "stack": false,
  "steppedLine": false,
  "timeFrom": null,
  "timeShift": null,
  "hiddenSeries": false
}
