{
  "id": 68888,
  "gridPos": {
    "x": {{ PANELS.disk_usage_nsm_graph.gridPos.x }},
    "y": {{ PANELS.disk_usage_nsm_graph.gridPos.y }},
    "w": {{ PANELS.disk_usage_nsm_graph.gridPos.w }},
    "h": {{ PANELS.disk_usage_nsm_graph.gridPos.h }}
  },
  "type": "timeseries",
  "title": "Disk Usage /nsm",
  "datasource": "InfluxDB",
  "pluginVersion": "8.2.1",
  "interval": "30s",
  "options": {
    "tooltip": {
      "mode": "single"
    },
    "legend": {
      "displayMode": "table",
      "placement": "bottom",
      "calcs": [
        "max",
        "mean",
        "lastNotNull"
      ]
    }
  },
  "targets": [
    {
      "alias": "$tag_host: mountpoint $tag_path - $col",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT mean(total) AS \"total\", mean(used) as \"used\" FROM \"disk\" WHERE \"host\" =~ /$servername$/ AND \"path\" = '/nsm' AND $timeFilter GROUP BY time($__interval), \"host\", \"path\"",
      "queryType": "randomWalk",
      "rawQuery": true,
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "value"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": []
    },
    {
      "alias": "$tag_host: mountpoint $tag_path - $col",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "hide": false,
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT mean(mean_total) AS \"trend_total\", mean(mean_used) as \"trend_used\" FROM \"so_long_term\".\"disk\" WHERE \"host\" =~ /$servername$/ AND \"path\" = '/nsm' AND $timeFilter GROUP BY time($__interval), \"host\", \"path\" fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": true,
      "refId": "B",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "value"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": []
    }
  ],
  "fieldConfig": {
    "defaults": {
      "custom": {
        "drawStyle": "line",
        "lineInterpolation": "linear",
        "barAlignment": 0,
        "lineWidth": 1,
        "fillOpacity": 10,
        "gradientMode": "none",
        "spanNulls": false,
        "showPoints": "never",
        "pointSize": 5,
        "stacking": {
          "mode": "none",
          "group": "A"
        },
        "axisPlacement": "auto",
        "axisLabel": "",
        "scaleDistribution": {
          "type": "linear"
        },
        "hideFrom": {
          "tooltip": false,
          "viz": false,
          "legend": false
        },
        "thresholdsStyle": {
          "mode": "off"
        }
      },
      "color": {
        "mode": "palette-classic"
      },
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          }
        ]
      },
      "mappings": [],
      "unit": "bytes",
      "min": 0,
      "decimals": 1
    },
    "overrides": [
      {
        "matcher": {
          "id": "byRegexp",
          "options": "/total/"
        },
        "properties": [
          {
            "id": "color",
            "value": {
              "fixedColor": "#C4162A",
              "mode": "fixed"
            }
          },
          {
            "id": "custom.fillOpacity",
            "value": 0
          },
          {
            "id": "custom.lineWidth",
            "value": 2
          }
        ]
      },
      {
        "matcher": {
          "id": "byRegexp",
          "options": "/trend/"
        },
        "properties": [
          {
            "id": "custom.fillOpacity",
            "value": 0
          },
          {
            "id": "custom.lineWidth",
            "value": 4
          },
          {
            "id": "custom.lineStyle",
            "value": {
              "fill": "dash",
              "dash": [
                4,
                10
              ]
            }
          }
        ]
      }
    ]
  },
  "maxDataPoints": null,
  "timeFrom": null,
  "timeShift": null
}
