{
  "type": "graph",
  "title": "Disk Usage /nsm",
  "gridPos": {
    "x": {{ PANELS.disk_usage_nsm_graph.gridPos.x }},
    "y": {{ PANELS.disk_usage_nsm_graph.gridPos.y }},
    "w": {{ PANELS.disk_usage_nsm_graph.gridPos.w }},
    "h": {{ PANELS.disk_usage_nsm_graph.gridPos.h }}
  },
  "id": 68888,
  "targets": [
    {
      "refId": "A",
      "queryType": "randomWalk",
      "policy": "default",
      "resultFormat": "time_series",
      "orderByTime": "ASC",
      "tags": [],
      "groupBy": [
        {
          "type": "time",
          "params": [
            "$__interval"
          ]
        },
        {
          "type": "fill",
          "params": [
            "null"
          ]
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "value"
            ]
          },
          {
            "type": "mean",
            "params": []
          }
        ]
      ],
      "query": "SELECT mean(total) AS \"total\", mean(used) as \"used\" FROM \"disk\" WHERE \"host\" =~ /$servername$/ AND \"path\" = '/nsm' AND $timeFilter GROUP BY time($interval), \"host\", \"path\"",
      "rawQuery": true,
      "alias": "$tag_host: mountpoint $tag_path - $col"
    },
    {
      "refId": "B",
      "queryType": "randomWalk",
      "policy": "default",
      "resultFormat": "time_series",
      "orderByTime": "ASC",
      "tags": [],
      "groupBy": [
        {
          "type": "time",
          "params": [
            "$__interval"
          ]
        },
        {
          "type": "fill",
          "params": [
            "null"
          ]
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "value"
            ]
          },
          {
            "type": "mean",
            "params": []
          }
        ]
      ],
      "query": "SELECT mean(mean_total) AS \"trend_total\", mean(mean_used) as \"trend_used\" FROM \"so_long_term\".\"disk\" WHERE \"host\" =~ /$servername$/ AND \"path\" = '/nsm' AND $timeFilter GROUP BY time($interval), \"host\", \"path\"",
      "rawQuery": true,
      "alias": "$tag_host: mountpoint $tag_path - $col",
      "hide": false
    }
  ],
  "options": {
    "alertThreshold": true
  },
  "datasource": "InfluxDB",
  "fieldConfig": {
    "defaults": {},
    "overrides": []
  },
  "pluginVersion": "7.5.4",
  "renderer": "flot",
  "yaxes": [
    {
      "label": null,
      "show": true,
      "logBase": 1,
      "min": "0",
      "max": null,
      "format": "bytes",
      "$$hashKey": "object:235"
    },
    {
      "label": null,
      "show": true,
      "logBase": 1,
      "min": null,
      "max": null,
      "format": "short",
      "$$hashKey": "object:236"
    }
  ],
  "xaxis": {
    "show": true,
    "mode": "time",
    "name": null,
    "values": [],
    "buckets": null
  },
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "lines": true,
  "fill": 1,
  "linewidth": 1,
  "dashLength": 10,
  "spaceLength": 10,
  "pointradius": 2,
  "legend": {
    "show": true,
    "values": true,
    "min": false,
    "max": true,
    "current": true,
    "total": false,
    "avg": true,
    "alignAsTable": true
  },
  "nullPointMode": "connected",
  "tooltip": {
    "value_type": "individual",
    "shared": true,
    "sort": 0
  },
  "aliasColors": {},
  "seriesOverrides": [
    {
      "$$hashKey": "object:486",
      "alias": "/total/",
      "fill": 0,
      "linewidth": 2,
      "color": "#C4162A",
      "zindex": 3
    },
    {
      "$$hashKey": "object:829",
      "alias": "/trend/",
      "fill": 0,
      "linewidth": 4,
      "dashes": true,
      "dashLength": 4
    }
  ],
  "thresholds": [],
  "timeRegions": [],
  "steppedLine": true,
  "fillGradient": 0,
  "dashes": false,
  "hiddenSeries": false,
  "points": false,
  "bars": false,
  "stack": false,
  "percentage": false
}
