{
    "aliasColors": {},
    "bars": false,
    "dashLength": 10,
    "dashes": false,
    "datasource": "InfluxDB",
    "editable": true,
    "error": false,
    "fieldConfig": {
        "defaults": {
            "links": []
        },
        "overrides": []
    },
    "fill": 1,
    "fillGradient": 0,
    "grid": {},
  "gridPos": {
    "x": {{ PANELS.disk_io_time_graph.gridPos.x }},
    "y": {{ PANELS.disk_io_time_graph.gridPos.y }},
    "w": {{ PANELS.disk_io_time_graph.gridPos.w }},
    "h": {{ PANELS.disk_io_time_graph.gridPos.h }}
  },
    "hiddenSeries": false,
    "id": 56720,
    "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "hideEmpty": true,
        "max": true,
        "min": false,
        "rightSide": false,
        "show": true,
        "sort": "current",
        "sortDesc": true,
        "total": false,
        "values": true
    },
    "lines": true,
    "linewidth": 1,
    "links": [],
    "maxPerRow": 6,
    "nullPointMode": "connected",
    "options": {
        "alertThreshold": true
    },
    "percentage": false,
    "pluginVersion": "7.5.4",
    "pointradius": 5,
    "points": false,
    "renderer": "flot",
    "repeat": null,
    "scopedVars": {
        "disk": {
            "selected": false,
            "text": "sda",
            "value": "sda"
        }
    },
    "seriesOverrides": [{
        "alias": "/.*write$/",
        "transform": "negative-Y"
    }],
    "spaceLength": 10,
    "stack": false,
    "steppedLine": false,
    "targets": [{
            "alias": "$tag_host: $tag_name: $col",
            "dsType": "influxdb",
            "function": "mean",
            "groupBy": [{
                    "interval": "auto",
                    "params": [
                        "auto"
                    ],
                    "type": "time"
                },
                {
                    "key": "host",
                    "params": [
                        "tag"
                    ],
                    "type": "tag"
                },
                {
                    "key": "path",
                    "params": [
                        "tag"
                    ],
                    "type": "tag"
                }
            ],
            "measurement": "io_reads",
            "policy": "default",
            "query": "SELECT non_negative_derivative(mean(read_time),1s) as \"read\" FROM \"diskio\" WHERE \"host\" =~ /$servername$/ AND \"name\" =~ /$disk$/  AND $timeFilter GROUP BY time($__interval), *",
            "rawQuery": true,
            "refId": "B",
            "resultFormat": "time_series",
            "select": [
                [{
                        "params": [
                            "value"
                        ],
                        "type": "field"
                    },
                    {
                        "params": [],
                        "type": "mean"
                    }
                ]
            ],
            "tags": []
        },
        {
            "alias": "$tag_host: $tag_name: $col",
            "dsType": "influxdb",
            "function": "mean",
            "groupBy": [{
                    "interval": "auto",
                    "params": [
                        "auto"
                    ],
                    "type": "time"
                },
                {
                    "key": "host",
                    "params": [
                        "tag"
                    ],
                    "type": "tag"
                },
                {
                    "key": "path",
                    "params": [
                        "tag"
                    ],
                    "type": "tag"
                }
            ],
            "measurement": "io_reads",
            "policy": "default",
            "query": "SELECT non_negative_derivative(mean(write_time),1s) as \"write\" FROM \"diskio\" WHERE \"host\" =~ /$servername$/ AND \"name\" =~ /$disk$/ AND $timeFilter GROUP BY time($__interval), *",
            "rawQuery": true,
            "refId": "A",
            "resultFormat": "time_series",
            "select": [
                [{
                        "params": [
                            "value"
                        ],
                        "type": "field"
                    },
                    {
                        "params": [],
                        "type": "mean"
                    }
                ]
            ],
            "tags": []
        }
    ],
    "thresholds": [],
    "timeFrom": null,
    "timeRegions": [],
    "timeShift": null,
    "title": "Disk I/O time for /dev/$disk",
    "tooltip": {
        "msResolution": false,
        "shared": true,
        "sort": 0,
        "value_type": "cumulative"
    },
    "type": "graph",
    "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
    },
    "yaxes": [{
            "format": "ms",
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
        },
        {
            "format": "short",
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
        }
    ],
    "yaxis": {
        "align": false,
        "alignLevel": null
    }
}
