{
  "aliasColors": {},
  "dashLength": 10,
  "datasource": "InfluxDB",
  "fieldConfig": {
    "defaults": {},
    "overrides": []
  },
  "fill": 1,
  "gridPos": {
    "x": {{ PANELS.elasticsearch_ingest_performance_tc_graph.gridPos.x }},
    "y": {{ PANELS.elasticsearch_ingest_performance_tc_graph.gridPos.y }},
    "w": {{ PANELS.elasticsearch_ingest_performance_tc_graph.gridPos.w }},
    "h": {{ PANELS.elasticsearch_ingest_performance_tc_graph.gridPos.h }}
  },
  "id": 445548,
  "legend": {
    "avg": false,
    "current": false,
    "max": false,
    "min": false,
    "show": true,
    "total": false,
    "values": false
  },
  "lines": true,
  "linewidth": 1,
  "nullPointMode": "null",
  "options": {
    "alertThreshold": true
  },
  "pluginVersion": "7.5.4",
  "pointradius": 2,
  "renderer": "flot",
  "seriesOverrides": [],
  "spaceLength": 10,
  "targets": [
    {
      "alias": "community.id_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "queryType": "randomWalk",
      "refId": "B",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_community_id_time_in_millis"
            ]
          },
          {
            "type": "last",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "conditionals_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "queryType": "randomWalk",
      "refId": "C",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "ingest_processor_stats_conditional_time_in_millis"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [],
            "type": "non_negative_difference"
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "convert_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "queryType": "randomWalk",
      "refId": "D",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "ingest_processor_stats_convert_time_in_millis"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [],
            "type": "non_negative_difference"
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "data.index.name_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"cluster_name\" = '$cluster_name') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "F",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "ingest_processor_stats_date_index_name_time_in_millis"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [],
            "type": "non_negative_difference"
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "data_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"cluster_name\" = '$cluster_name') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "G",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "ingest_processor_stats_date_time_in_millis"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [],
            "type": "non_negative_difference"
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "dissect_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"cluster_name\" = '$cluster_name') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "H",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_dissect_time_in_millis"
            ]
          },
          {
            "type": "last",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "dot.expander_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"cluster_name\" = '$cluster_name') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "I",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "ingest_processor_stats_dot_expander_time_in_millis"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [],
            "type": "non_negative_difference"
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "geoip_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"cluster_name\" = '$cluster_name') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "K",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "ingest_processor_stats_geoip_time_in_millis"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [],
            "type": "non_negative_difference"
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "grok_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"cluster_name\" = '$cluster_name') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "L",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "ingest_processor_stats_grok_time_in_millis"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [],
            "type": "non_negative_difference"
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "json_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"cluster_name\" = '$cluster_name') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "O",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "ingest_processor_stats_json_time_in_millis"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [],
            "type": "non_negative_difference"
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "kv_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"cluster_name\" = '$cluster_name') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "P",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "ingest_processor_stats_kv_time_in_millis"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [],
            "type": "non_negative_difference"
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "lowercase_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"cluster_name\" = '$cluster_name') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "Q",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "ingest_processor_stats_lowercase_time_in_millis"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [],
            "type": "non_negative_difference"
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "remove_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"cluster_name\" = '$cluster_name') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "R",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "ingest_processor_stats_remove_time_in_millis"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [],
            "type": "non_negative_difference"
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "rename_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"cluster_name\" = '$cluster_name') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "S",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_rename_time_in_millis"
            ]
          },
          {
            "type": "last",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "script_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"cluster_name\" = '$cluster_name') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "T",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "ingest_processor_stats_script_time_in_millis"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [],
            "type": "non_negative_difference"
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    },
    {
      "alias": "url_decodes",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"cluster_name\" = '$cluster_name') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "U",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "ingest_processor_stats_user_agent_time_in_millis"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [],
            "type": "non_negative_difference"
          }
        ]
      ],
      "tags": [
        {
          "key": "cluster_name",
          "operator": "=",
          "value": "$cluster_name"
        }
      ]
    }
  ],
  "thresholds": [],
  "timeRegions": [],
  "title": "Elastic Ingest Performance",
  "tooltip": {
    "shared": true,
    "sort": 0,
    "value_type": "individual"
  },
  "type": "graph",
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "$$hashKey": "object:1668",
      "format": "dtdurationms",
      "label": "",
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    },
    {
      "$$hashKey": "object:1669",
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    }
  ],
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "bars": false,
  "dashes": false,
  "description": "",
  "fillGradient": 0,
  "hiddenSeries": false,
  "percentage": false,
  "points": false,
  "stack": false,
  "steppedLine": false,
  "timeFrom": null,
  "timeShift": null,
  "interval": "30s"
}
