{
  "id": 445549,
  "gridPos": {
    "x": {{ PANELS.elasticsearch_ingest_performance_nontc_graph.gridPos.x }},
    "y": {{ PANELS.elasticsearch_ingest_performance_nontc_graph.gridPos.y }},
    "w": {{ PANELS.elasticsearch_ingest_performance_nontc_graph.gridPos.w }},
    "h": {{ PANELS.elasticsearch_ingest_performance_nontc_graph.gridPos.h }}
  },
  "type": "timeseries",
  "title": "Elastic Ingest Performance - $searchnode",
  "repeat": "searchnode",
  "repeatDirection": "v",
  "datasource": "InfluxDB",
  "pluginVersion": "8.2.1",
  "interval": "30s",
  "fieldConfig": {
    "defaults": {
      "custom": {
        "drawStyle": "line",
        "lineInterpolation": "linear",
        "barAlignment": 0,
        "lineWidth": 1,
        "fillOpacity": 10,
        "gradientMode": "none",
        "spanNulls": false,
        "showPoints": "never",
        "pointSize": 5,
        "stacking": {
          "mode": "none",
          "group": "A"
        },
        "axisPlacement": "auto",
        "axisLabel": "",
        "scaleDistribution": {
          "type": "linear"
        },
        "hideFrom": {
          "tooltip": false,
          "viz": false,
          "legend": false
        },
        "thresholdsStyle": {
          "mode": "off"
        }
      },
      "color": {
        "mode": "palette-classic"
      },
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          }
        ]
      },
      "mappings": [],
      "decimals": 0,
      "unit": "ms"
    },
    "overrides": []
  },
  "options": {
    "tooltip": {
      "mode": "multi"
    },
    "legend": {
      "displayMode": "table",
      "placement": "right",
      "calcs": [
        "max",
        "mean"
      ]
    }
  },
  "targets": [
    {
      "alias": "community.id_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "queryType": "randomWalk",
      "refId": "B",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_community_id_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "conditionals_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "queryType": "randomWalk",
      "refId": "C",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_conditional_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "convert_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "queryType": "randomWalk",
      "refId": "D",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_convert_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "data.index.name_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"role\" = 'manager') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "F",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_date_index_name_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "data_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"role\" = 'manager') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "G",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_date_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "dissect_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"role\" = 'manager') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "H",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_dissect_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "dot.expander_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"role\" = 'manager') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "I",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_dot_expander_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "geoip_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"role\" = 'manager') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "K",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_geoip_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "grok_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"role\" = 'manager') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "L",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_grok_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "json_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"role\" = 'manager') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "O",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_json_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "kv_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"role\" = 'manager') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "P",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_kv_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "lowercase_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"role\" = 'manager') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "Q",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_lowercase_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "remove_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"role\" = 'manager') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "R",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_remove_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "rename_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"role\" = 'manager') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "S",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_rename_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "script_time",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"role\" = 'manager') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "T",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_script_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    },
    {
      "alias": "url_decodes",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "elasticsearch_clusterstats_nodes",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_difference(mode(\"ingest_processor_stats_date_index_name_time_in_millis\")) FROM \"elasticsearch_clusterstats_nodes\" WHERE (\"role\" = 'manager') AND $timeFilter GROUP BY time($__interval) fill(linear)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "U",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "ingest_processor_stats_user_agent_time_in_millis"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_difference",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$searchnode"
        }
      ]
    }
  ],
  "description": "",
  "timeFrom": null,
  "timeShift": null
}
