{
  "id": 61867,
  "gridPos": {
    "x": {{ PANELS.io_wait_stat.gridPos.x }},
    "y": {{ PANELS.io_wait_stat.gridPos.y }},
    "w": {{ PANELS.io_wait_stat.gridPos.w }},
    "h": {{ PANELS.io_wait_stat.gridPos.h }}
  },
  "type": "stat",
  "title": "IOWait",
  "datasource": "InfluxDB",
  "pluginVersion": "8.2.1",
  "links": [],
  "fieldConfig": {
    "defaults": {
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "dark-green",
            "value": null
          },
          {
            "color": "rgba(237, 129, 40, 0.89)",
            "value": 40
          },
          {
            "color": "dark-red",
            "value": 50
          }
        ]
      },
      "mappings": [
        {
          "options": {
            "match": "null",
            "result": {
              "text": "N/A"
            }
          },
          "type": "special"
        }
      ],
      "color": {
        "mode": "thresholds"
      },
      "decimals": 2,
      "max": 100,
      "min": 0,
      "unit": "percent"
    },
    "overrides": []
  },
  "interval": "30",
  "options": {
    "reduceOptions": {
      "values": false,
      "calcs": [
        "lastNotNull"
      ],
      "fields": ""
    },
    "orientation": "horizontal",
    "text": {},
    "textMode": "auto",
    "colorMode": "value",
    "graphMode": "area",
    "justifyMode": "auto"
  },
  "targets": [
    {
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "cpu",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_derivative(mean(\"usage_iowait\"), 1s) FROM \"cpu\" WHERE (host =~ /$servername$/ AND \"cpu\" = 'cpu-total') AND $timeFilter GROUP BY time($interval) fill(null)",
      "rawQuery": false,
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "usage_iowait"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$servername"
        },
        {
          "condition": "AND",
          "key": "cpu",
          "operator": "=",
          "value": "cpu-total"
        }
      ]
    }
  ],
  "maxDataPoints": null,
  "cacheTimeout": null
}
