{
  "aliasColors": {},
  "bars": false,
  "dashLength": 10,
  "dashes": false,
  "datasource": "InfluxDB",
  "editable": true,
  "error": false,
  "fill": 0,
  "fillGradient": 0,
  "grid": {},
  "gridPos": {
    "x": {{ PANELS.load_averages_graph.gridPos.x }},
    "y": {{ PANELS.load_averages_graph.gridPos.y }},
    "w": {{ PANELS.load_averages_graph.gridPos.w }},
    "h": {{ PANELS.load_averages_graph.gridPos.h }}
  },
  "height": "350",
  "id": 54694,
  "interval": "$inter",
  "legend": {
    "alignAsTable": true,
    "avg": true,
    "current": true,
    "max": true,
    "min": true,
    "show": true,
    "total": false,
    "values": true
  },
  "lines": true,
  "linewidth": 1,
  "links": [],
  "nullPointMode": "connected",
  "options": {
    "alertThreshold": true
  },
  "percentage": false,
  "pointradius": 5,
  "points": false,
  "renderer": "flot",
  "seriesOverrides": [],
  "spaceLength": 10,
  "stack": false,
  "steppedLine": false,
  "targets": [
    {
      "alias": "$tag_host: $col",
      "dsType": "influxdb",
      "function": "mean",
      "groupBy": [
        {
          "interval": "auto",
          "params": [
            "auto"
          ],
          "type": "time"
        },
        {
          "key": "host",
          "params": [
            "tag"
          ],
          "type": "tag"
        }
      ],
      "measurement": "system_load1",
      "policy": "default",
      "query": "SELECT mean(load1) as 1m,mean(load5) as 5m,mean(load15) as 15m FROM \"system\" WHERE host =~ /$servername$/ AND $timeFilter GROUP BY time($interval), * ORDER BY asc",
      "rawQuery": true,
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "value"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": []
    }
  ],
  "thresholds": [],
  "timeFrom": null,
  "timeRegions": [],
  "timeShift": null,
  "title": "Load Averages",
  "tooltip": {
    "msResolution": false,
    "shared": true,
    "sort": 0,
    "value_type": "cumulative"
  },
  "type": "graph",
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "format": "short",
      "logBase": 1,
      "max": null,
      "min": 0,
      "show": true
    },
    {
      "format": "short",
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    }
  ],
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "fieldConfig": {
    "defaults": {
      "links": []
    },
    "overrides": []
  },
  "pluginVersion": "7.5.4",
  "hiddenSeries": false
}
