{
  "datasource": "InfluxDB",
  "fieldConfig": {
    "defaults": {
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "rgba(50, 172, 45, 0.97)",
            "value": "$cpucount"
          },
          {
            "color": "rgba(237, 129, 40, 0.89)",
            "value": "$cpucount / 1.5"
          },
          {
            "color": "rgba(245, 54, 54, 0.9)",
            "value": "$cpucount"
          }
        ]
      },
      "mappings": [
        {
          "op": "=",
          "text": "N/A",
          "value": "null",
          "id": 0,
          "type": 2
        }
      ],
      "unit": "none",
      "decimals": 1,
      "color": {
        "mode": "thresholds"
      }
    },
    "overrides": []
  },
  "gridPos": {
    "x": {{ PANELS.load_average_5_minute.gridPos.x }},
    "y": {{ PANELS.load_average_5_minute.gridPos.y }},
    "w": {{ PANELS.load_average_5_minute.gridPos.w }},
    "h": {{ PANELS.load_average_5_minute.gridPos.h }}
  },
  "id": 61859,
  "links": [],
  "maxDataPoints": 100,
  "targets": [
    {
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "system",
      "orderByTime": "ASC",
      "policy": "default",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "load5"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=~",
          "value": "/^$servername$/"
        }
      ]
    }
  ],
  "title": "5 Minute Load Average",
  "type": "stat",
  "options": {
    "reduceOptions": {
      "values": false,
      "calcs": [
        "lastNotNull"
      ],
      "fields": ""
    },
    "orientation": "horizontal",
    "text": {},
    "textMode": "auto",
    "colorMode": "value",
    "graphMode": "area",
    "justifyMode": "auto"
  },
  "pluginVersion": "7.5.4",
  "cacheTimeout": null,
  "interval": null
}
