{
  "datasource": "InfluxDB",
  "fieldConfig": {
    "defaults": {
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "dark-red",
            "value": null
          },
          {
            "value": 1,
            "color": "dark-green"
          }
        ]
      },
      "mappings": [
        {
          "op": "=",
          "text": "N/A",
          "value": "null",
          "$$hashKey": "object:730",
          "id": 0,
          "type": 1
        }
      ],
      "unit": "short",
      "decimals": 0,
      "color": {
        "mode": "thresholds"
      }
    },
    "overrides": []
  },
  "gridPos": {
    "x": {{ PANELS.logstash_estimated_eps_stat.gridPos.x }},
    "y": {{ PANELS.logstash_estimated_eps_stat.gridPos.y }},
    "w": {{ PANELS.logstash_estimated_eps_stat.gridPos.w }},
    "h": {{ PANELS.logstash_estimated_eps_stat.gridPos.h }}
  },
  "id": 23,
  "interval": "30s",
  "links": [],
  "maxDataPoints": 750,
  "targets": [
    {
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "consumptioneps",
      "orderByTime": "ASC",
      "policy": "default",
      "queryType": "randomWalk",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "eps"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$servername"
        }
      ]
    }
  ],
  "title": "Estimated EPS",
  "type": "stat",
  "options": {
    "reduceOptions": {
      "values": false,
      "calcs": [
        "lastNotNull"
      ],
      "fields": ""
    },
    "orientation": "horizontal",
    "text": {},
    "textMode": "value",
    "colorMode": "value",
    "graphMode": "area",
    "justifyMode": "auto"
  },
  "cacheTimeout": null,
  "pluginVersion": "7.5.4",
  "timeFrom": null
}
