{
  "aliasColors": {},
  "dashLength": 10,
  "datasource": "InfluxDB",
  "description": "Events from the grid to redis",
  "fieldConfig": {
    "defaults": {
      "unit": "short"
    },
    "overrides": []
  },
  "fill": 1,
  "gridPos": {
    "x": {{ PANELS.logstash_estimated_eps_in_out_manager_total_graph.gridPos.x }},
    "y": {{ PANELS.logstash_estimated_eps_in_out_manager_total_graph.gridPos.y }},
    "w": {{ PANELS.logstash_estimated_eps_in_out_manager_total_graph.gridPos.w }},
    "h": {{ PANELS.logstash_estimated_eps_in_out_manager_total_graph.gridPos.h }}
  },
  "id": 77741,
  "legend": {
    "avg": false,
    "current": false,
    "max": false,
    "min": false,
    "show": true,
    "total": false,
    "values": false
  },
  "lines": true,
  "linewidth": 1,
  "nullPointMode": "null",
  "options": {
    "alertThreshold": true
  },
  "pluginVersion": "7.5.4",
  "pointradius": 2,
  "renderer": "flot",
  "seriesOverrides": [],
  "spaceLength": 10,
  "targets": [
    {
      "alias": "Logstash Events In",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "measurement": "logstash_events",
      "orderByTime": "ASC",
      "policy": "so_short_term",
      "queryType": "randomWalk",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "in"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_derivative",
            "params": [
              "1s"
            ]
          }
        ]
      ],
      "tags": [
        {
          "key": "role",
          "operator": "=",
          "value": "manager"
        }
      ]
    },
    {
      "alias": "Logstash Events Out",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        }
      ],
      "hide": false,
      "measurement": "logstash_events",
      "orderByTime": "ASC",
      "policy": "so_short_term",
      "queryType": "randomWalk",
      "refId": "B",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "out"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_derivative",
            "params": [
              "1s"
            ]
          }
        ]
      ],
      "tags": [
        {
          "key": "role",
          "operator": "=",
          "value": "manager"
        }
      ]
    }
  ],
  "thresholds": [],
  "timeRegions": [],
  "title": "Manager Logstash Events",
  "tooltip": {
    "shared": true,
    "sort": 0,
    "value_type": "individual"
  },
  "type": "graph",
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "$$hashKey": "object:1159",
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    },
    {
      "$$hashKey": "object:1160",
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    }
  ],
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "timeFrom": null,
  "timeShift": null,
  "interval": "30s",
  "bars": false,
  "dashes": false,
  "fillGradient": 0,
  "hiddenSeries": false,
  "percentage": false,
  "points": false,
  "stack": false,
  "steppedLine": false
}
