{
  "type": "graph",
  "title": "Management Interface Drops",
  "gridPos": {
    "x": {{ PANELS.management_interface_drops_graph.gridPos.x }},
    "y": {{ PANELS.management_interface_drops_graph.gridPos.y }},
    "w": {{ PANELS.management_interface_drops_graph.gridPos.w }},
    "h": {{ PANELS.management_interface_drops_graph.gridPos.h }}
  },
  "id": 61877,
  "targets": [
    {
      "refId": "A",
      "queryType": "randomWalk",
      "policy": "default",
      "resultFormat": "time_series",
      "orderByTime": "ASC",
      "tags": [],
      "groupBy": [
        {
          "type": "time",
          "params": [
            "$__interval"
          ]
        },
        {
          "type": "fill",
          "params": [
            "null"
          ]
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "value"
            ]
          },
          {
            "type": "mean",
            "params": []
          }
        ]
      ],
      "query": "SELECT non_negative_derivative(mean(drop_in), 1s) as \"in\" FROM \"net\" WHERE host =~ /$servername/ AND interface =~ /$manint/ AND $timeFilter GROUP BY time($__interval), host,interface fill(none)",
      "rawQuery": true,
      "alias": "$tag_host: $tag_interface: $col"
    },
    {
      "refId": "B",
      "hide": false,
      "policy": "default",
      "resultFormat": "time_series",
      "orderByTime": "ASC",
      "tags": [],
      "groupBy": [
        {
          "type": "time",
          "params": [
            "$__interval"
          ]
        },
        {
          "type": "fill",
          "params": [
            "null"
          ]
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "value"
            ]
          },
          {
            "type": "mean",
            "params": []
          }
        ]
      ],
      "query": "SELECT non_negative_derivative(mean(drop_out), 1s) as \"out\" FROM \"net\" WHERE host =~ /$servername/ AND interface =~ /$manint/ AND $timeFilter GROUP BY time($__interval), host,interface fill(none)",
      "rawQuery": true,
      "alias": "$tag_host: $tag_interface: $col"
    },
    {
      "refId": "C",
      "queryType": "randomWalk",
      "policy": "default",
      "resultFormat": "time_series",
      "orderByTime": "ASC",
      "tags": [],
      "groupBy": [
        {
          "type": "time",
          "params": [
            "$__interval"
          ]
        },
        {
          "type": "fill",
          "params": [
            "null"
          ]
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "value"
            ]
          },
          {
            "type": "mean",
            "params": []
          }
        ]
      ],
      "query": "SELECT non_negative_derivative(mean(mean_drop_in), 1s) as \"trend_in\" FROM \"so_long_term\".\"net\" WHERE host =~ /$servername/ AND interface =~ /$manint/ AND $timeFilter GROUP BY time($__interval), host,interface fill(none)",
      "rawQuery": true,
      "alias": "$tag_host: $tag_interface: $col",
      "hide": false
    },
    {
      "refId": "D",
      "hide": false,
      "policy": "default",
      "resultFormat": "time_series",
      "orderByTime": "ASC",
      "tags": [],
      "groupBy": [
        {
          "type": "time",
          "params": [
            "$__interval"
          ]
        },
        {
          "type": "fill",
          "params": [
            "null"
          ]
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "value"
            ]
          },
          {
            "type": "mean",
            "params": []
          }
        ]
      ],
      "query": "SELECT non_negative_derivative(mean(mean_drop_out), 1s) as \"trend_out\" FROM \"so_long_term\".\"net\" WHERE host =~ /$servername/ AND interface =~ /$manint/ AND $timeFilter GROUP BY time($__interval), host,interface fill(none)",
      "rawQuery": true,
      "alias": "$tag_host: $tag_interface: $col"
    }
  ],
  "options": {
    "alertThreshold": true
  },
  "datasource": "InfluxDB",
  "fieldConfig": {
    "defaults": {},
    "overrides": []
  },
  "pluginVersion": "7.5.4",
  "renderer": "flot",
  "yaxes": [
    {
      "label": "Drops per second",
      "show": true,
      "logBase": 1,
      "min": 0,
      "max": null,
      "format": "pps",
      "$$hashKey": "object:500"
    },
    {
      "label": null,
      "show": true,
      "logBase": 1,
      "min": null,
      "max": null,
      "format": "short",
      "$$hashKey": "object:501"
    }
  ],
  "xaxis": {
    "show": true,
    "mode": "time",
    "name": null,
    "values": [],
    "buckets": null
  },
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "lines": true,
  "fill": 1,
  "linewidth": 1,
  "dashLength": 10,
  "spaceLength": 10,
  "pointradius": 2,
  "legend": {
    "show": true,
    "values": true,
    "min": false,
    "max": true,
    "current": true,
    "total": false,
    "avg": true,
    "alignAsTable": true
  },
  "nullPointMode": "connected",
  "tooltip": {
    "value_type": "individual",
    "shared": true,
    "sort": 0
  },
  "aliasColors": {},
  "seriesOverrides": [
    {
      "$$hashKey": "object:592",
      "alias": "/veth/",
      "hiddenSeries": true,
      "legend": false
    },
    {
      "$$hashKey": "object:621",
      "alias": "/trend/",
      "fill": 0,
      "linewidth": 4,
      "dashes": true,
      "dashLength": 4
    }
  ],
  "thresholds": [],
  "timeRegions": [],
  "fillGradient": 0,
  "dashes": false,
  "hiddenSeries": false,
  "points": false,
  "bars": false,
  "stack": false,
  "percentage": false,
  "steppedLine": false,
  "decimals": 0,
  "maxDataPoints": 750,
  "interval": "30s"
}
