{
  "aliasColors": {
    "InBound": "#629E51",
    "OutBound": "#5195CE",
    "net.non_negative_derivative": "super-light-blue"
  },
  "maxDataPoints": 750,
  "interval": "30s",
  "bars": false,
  "dashLength": 10,
  "dashes": false,
  "datasource": "InfluxDB",
  "editable": true,
  "error": false,
  "fieldConfig": {
    "defaults": {
      "links": []
    },
    "overrides": []
  },
  "fill": 1,
  "fillGradient": 0,
  "gridPos": {
    "x": {{ PANELS.management_interface_traffic_both_graph.gridPos.x }},
    "y": {{ PANELS.management_interface_traffic_both_graph.gridPos.y }},
    "w": {{ PANELS.management_interface_traffic_both_graph.gridPos.w }},
    "h": {{ PANELS.management_interface_traffic_both_graph.gridPos.h }}
  },
  "hiddenSeries": false,
  "id": 18,
  "legend": {
    "alignAsTable": true,
    "avg": true,
    "current": true,
    "max": true,
    "min": true,
    "show": true,
    "total": false,
    "values": true
  },
  "lines": true,
  "linewidth": 2,
  "links": [],
  "nullPointMode": "connected",
  "options": {
    "alertThreshold": true
  },
  "percentage": false,
  "pluginVersion": "7.5.4",
  "pointradius": 5,
  "points": false,
  "renderer": "flot",
  "seriesOverrides": [
    {
      "alias": "/Trend/",
      "dashLength": 4,
      "dashes": true,
      "fill": 0,
      "linewidth": 4
    }
  ],
  "spaceLength": 10,
  "stack": false,
  "steppedLine": false,
  "targets": [
    {
      "alias": "Inbound Current",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "net",
      "orderByTime": "ASC",
      "policy": "default",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "bytes_recv"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          },
          {
            "params": [
              "1s"
            ],
            "type": "non_negative_derivative"
          },
          {
            "params": [
              "*8"
            ],
            "type": "math"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$servername"
        },
        {
          "condition": "AND",
          "key": "interface",
          "operator": "=",
          "value": "$manint"
        }
      ]
    },
    {
      "alias": "Outbound Current",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "net",
      "orderByTime": "ASC",
      "policy": "default",
      "refId": "B",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "bytes_sent"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          },
          {
            "params": [
              "1s"
            ],
            "type": "non_negative_derivative"
          },
          {
            "params": [
              "*8"
            ],
            "type": "math"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$servername"
        },
        {
          "condition": "AND",
          "key": "interface",
          "operator": "=",
          "value": "$manint"
        }
      ]
    },
    {
      "alias": "Inbound Trend",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "hide": false,
      "measurement": "net",
      "orderByTime": "ASC",
      "policy": "so_long_term",
      "refId": "C",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "mean_bytes_recv"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          },
          {
            "params": [
              "1s"
            ],
            "type": "non_negative_derivative"
          },
          {
            "params": [
              "*8"
            ],
            "type": "math"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$servername"
        },
        {
          "condition": "AND",
          "key": "interface",
          "operator": "=",
          "value": "$manint"
        }
      ]
    },
    {
      "alias": "Outbound Trend",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "hide": false,
      "measurement": "net",
      "orderByTime": "ASC",
      "policy": "so_long_term",
      "refId": "D",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "mean_bytes_sent"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          },
          {
            "params": [
              "1s"
            ],
            "type": "non_negative_derivative"
          },
          {
            "params": [
              "*8"
            ],
            "type": "math"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$servername"
        },
        {
          "condition": "AND",
          "key": "interface",
          "operator": "=",
          "value": "$manint"
        }
      ]
    }
  ],
  "thresholds": [],
  "timeFrom": null,
  "timeRegions": [],
  "timeShift": null,
  "title": "Management Interface Traffic - $manint",
  "tooltip": {
    "msResolution": true,
    "shared": true,
    "sort": 0,
    "value_type": "cumulative"
  },
  "type": "graph",
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "format": "bps",
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    },
    {
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    }
  ],
  "yaxis": {
    "align": false,
    "alignLevel": null
  }
}
