{
  "id": 61873,
  "gridPos": {
    "x": {{ PANELS.memory_usage_graph.gridPos.x }},
    "y": {{ PANELS.memory_usage_graph.gridPos.y }},
    "w": {{ PANELS.memory_usage_graph.gridPos.w }},
    "h": {{ PANELS.memory_usage_graph.gridPos.h }}
  },
  "type": "timeseries",
  "title": "Memory Usage",
  "datasource": "InfluxDB",
  "pluginVersion": "8.2.1",
  "interval": "30s",
  "options": {
    "tooltip": {
      "mode": "single"
    },
    "legend": {
      "displayMode": "table",
      "placement": "right",
      "calcs": [
        "max",
        "mean",
        "lastNotNull"
      ]
    }
  },
  "targets": [
    {
      "alias": "$tag_host: $col",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT mean(total) as total, mean(used) as used, mean(cached) as cached, mean(free) as free, mean(buffered) as buffered  FROM \"mem\" WHERE host =~ /$servername$/ AND $timeFilter GROUP BY time($__interval), host ORDER BY asc",
      "queryType": "randomWalk",
      "rawQuery": true,
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "value"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": []
    },
    {
      "alias": "$tag_host: $col",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "hide": false,
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT mean(mean_total) as trend_total, mean(mean_used) as trend_used, mean(mean_cached) as trend_cached, mean(mean_free) as trend_free, mean(mean_buffered) as trend_buffered  FROM \"so_long_term\".\"mem\" WHERE host =~ /$servername$/ AND $timeFilter GROUP BY time($__interval), host fill(linear) ORDER BY asc",
      "queryType": "randomWalk",
      "rawQuery": true,
      "refId": "B",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "value"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": []
    }
  ],
  "fieldConfig": {
    "defaults": {
      "custom": {
        "drawStyle": "line",
        "lineInterpolation": "linear",
        "barAlignment": 0,
        "lineWidth": 1,
        "fillOpacity": 10,
        "gradientMode": "none",
        "spanNulls": false,
        "showPoints": "never",
        "pointSize": 5,
        "stacking": {
          "mode": "none",
          "group": "A"
        },
        "axisPlacement": "auto",
        "axisLabel": "",
        "scaleDistribution": {
          "type": "linear"
        },
        "hideFrom": {
          "tooltip": false,
          "viz": false,
          "legend": false
        },
        "thresholdsStyle": {
          "mode": "off"
        }
      },
      "color": {
        "mode": "palette-classic"
      },
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          }
        ]
      },
      "mappings": [],
      "unit": "bytes",
      "min": 0,
      "decimals": 1
    },
    "overrides": [
      {
        "matcher": {
          "id": "byRegexp",
          "options": "/total/"
        },
        "properties": [
          {
            "id": "color",
            "value": {
              "fixedColor": "#C4162A",
              "mode": "fixed"
            }
          },
          {
            "id": "custom.fillOpacity",
            "value": 0
          }
        ]
      },
      {
        "matcher": {
          "id": "byRegexp",
          "options": "/trend/"
        },
        "properties": [
          {
            "id": "custom.fillOpacity",
            "value": 0
          },
          {
            "id": "custom.lineWidth",
            "value": 4
          },
          {
            "id": "custom.lineStyle",
            "value": {
              "fill": "dash",
              "dash": [
                4,
                10
              ]
            }
          }
        ]
      }
    ]
  },
  "maxDataPoints": null,
  "description": "",
  "timeFrom": null,
  "timeShift": null
}
