{
  "aliasColors": {
    "Buffered": "#6ED0E0",
    "Cached": "#F9934E",
    "Free": "#629E51",
    "Used": "#58140C"
  },
  "dashLength": 10,
  "datasource": "InfluxDB",
  "editable": true,
  "fieldConfig": {
    "defaults": {
      "links": []
    },
    "overrides": []
  },
  "fill": 6,
  "grid": {},
  "gridPos": {
    "h": 5,
    "w": 8,
    "x": 0,
    "y": 40
  },
  "id": 5,
  "legend": {
    "alignAsTable": true,
    "avg": true,
    "current": true,
    "hideEmpty": false,
    "hideZero": false,
    "max": true,
    "min": true,
    "show": true,
    "total": false,
    "values": true
  },
  "lines": true,
  "links": [],
  "nullPointMode": "connected",
  "options": {
    "alertThreshold": true
  },
  "pluginVersion": "7.5.4",
  "pointradius": 5,
  "renderer": "flot",
  "seriesOverrides": [
    {
      "alias": "/Trend/",
      "dashLength": 4,
      "dashes": true,
      "fill": 0,
      "linewidth": 4
    }
  ],
  "spaceLength": 10,
  "stack": true,
  "targets": [
    {
      "alias": "Used Current",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "mem",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT mean(\"used\") FROM \"mem\" WHERE (\"host\" = '{{ SERVERNAME }}') AND $timeFilter GROUP BY time($__interval) fill(null)",
      "rawQuery": false,
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "used"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "{{ SERVERNAME }}"
        }
      ]
    },
    {
      "alias": "Buffered Current",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "mem",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT mean(\"buffered\") FROM \"mem\" WHERE (\"host\" = '{{ SERVERNAME }}') AND $timeFilter GROUP BY time($__interval) fill(null)",
      "rawQuery": false,
      "refId": "B",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "buffered"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "{{ SERVERNAME }}"
        }
      ]
    },
    {
      "alias": "Cached Current",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "mem",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT mean(\"cached\") FROM \"mem\" WHERE (\"host\" = '{{ SERVERNAME }}') AND $timeFilter GROUP BY time($__interval) fill(null)",
      "rawQuery": false,
      "refId": "C",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "cached"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "{{ SERVERNAME }}"
        }
      ]
    },
    {
      "alias": "Free Current",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "mem",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT mean(\"free\") FROM \"mem\" WHERE (\"host\" = '{{ SERVERNAME }}') AND $timeFilter GROUP BY time($__interval) fill(null)",
      "rawQuery": false,
      "refId": "D",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "free"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "{{ SERVERNAME }}"
        }
      ]
    },
    {
      "alias": "Used Trend",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "hide": true,
      "measurement": "mem",
      "orderByTime": "ASC",
      "policy": "so_long_term",
      "query": "SELECT mean(\"used\") FROM \"mem\" WHERE (\"host\" = '{{ SERVERNAME }}') AND $timeFilter GROUP BY time($__interval) fill(null)",
      "rawQuery": false,
      "refId": "E",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "mean_used"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "{{ SERVERNAME }}"
        }
      ]
    },
    {
      "alias": "Buffered Trend",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "hide": true,
      "measurement": "mem",
      "orderByTime": "ASC",
      "policy": "so_long_term",
      "query": "SELECT mean(\"buffered\") FROM \"mem\" WHERE (\"host\" = '{{ SERVERNAME }}') AND $timeFilter GROUP BY time($__interval) fill(null)",
      "rawQuery": false,
      "refId": "F",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "mean_buffered"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "{{ SERVERNAME }}"
        }
      ]
    },
    {
      "alias": "Cached Trend",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "hide": true,
      "measurement": "mem",
      "orderByTime": "ASC",
      "policy": "so_long_term",
      "query": "SELECT mean(\"cached\") FROM \"mem\" WHERE (\"host\" = '{{ SERVERNAME }}') AND $timeFilter GROUP BY time($__interval) fill(null)",
      "rawQuery": false,
      "refId": "G",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "mean_cached"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "{{ SERVERNAME }}"
        }
      ]
    },
    {
      "alias": "Free Trend",
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "hide": true,
      "measurement": "mem",
      "orderByTime": "ASC",
      "policy": "so_long_term",
      "query": "SELECT mean(\"free\") FROM \"mem\" WHERE (\"host\" = '{{ SERVERNAME }}') AND $timeFilter GROUP BY time($__interval) fill(null)",
      "rawQuery": false,
      "refId": "H",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "mean_free"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "{{ SERVERNAME }}"
        }
      ]
    }
  ],
  "thresholds": [],
  "timeRegions": [],
  "title": "{{ SERVERNAME }} - Memory",
  "tooltip": {
    "msResolution": true,
    "shared": true,
    "sort": 0,
    "value_type": "individual"
  },
  "type": "graph",
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "format": "bytes",
      "label": "Bytes",
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    },
    {
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    }
  ],
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "bars": false,
  "dashes": false,
  "decimals": null,
  "error": false,
  "fillGradient": 0,
  "hiddenSeries": false,
  "linewidth": 0,
  "percentage": false,
  "points": false,
  "steppedLine": false,
  "timeFrom": null,
  "timeShift": null
}
