{
  "id": 224244,
  "gridPos": {
    "x": {{ PANELS.monitor_interface_traffic_inbound_total_graph.gridPos.x }},
    "y": {{ PANELS.monitor_interface_traffic_inbound_total_graph.gridPos.y }},
    "w": {{ PANELS.monitor_interface_traffic_inbound_total_graph.gridPos.w }},
    "h": {{ PANELS.monitor_interface_traffic_inbound_total_graph.gridPos.h }}
  },
  "type": "timeseries",
  "title": "Monitor Traffic - Selected Total",
  "transformations": [
    {
      "id": "calculateField",
      "options": {
        "alias": "Total Monitor Traffic",
        "mode": "reduceRow",
        "reduce": {
          "reducer": "sum"
        },
        "replaceFields": true
      }
    }
  ],
  "datasource": "InfluxDB",
  "pluginVersion": "8.2.1",
  "links": [],
  "fieldConfig": {
    "defaults": {
      "custom": {
        "drawStyle": "line",
        "lineInterpolation": "linear",
        "barAlignment": 0,
        "lineWidth": 1,
        "fillOpacity": 0,
        "gradientMode": "none",
        "spanNulls": false,
        "showPoints": "auto",
        "pointSize": 5,
        "stacking": {
          "mode": "none",
          "group": "A"
        },
        "axisPlacement": "auto",
        "axisLabel": "",
        "scaleDistribution": {
          "type": "linear"
        },
        "hideFrom": {
          "tooltip": false,
          "viz": false,
          "legend": false
        },
        "thresholdsStyle": {
          "mode": "off"
        }
      },
      "color": {
        "mode": "palette-classic"
      },
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "rgba(245, 54, 54, 0.9)",
            "value": null
          },
          {
            "color": "rgba(50, 172, 45, 0.97)",
            "value": 1
          }
        ]
      },
      "mappings": [
        {
          "options": {
            "match": "null",
            "result": {
              "text": "N/A"
            }
          },
          "type": "special"
        }
      ],
      "decimals": 1,
      "unit": "bps"
    },
    "overrides": []
  },
  "interval": "30s",
  "options": {
    "tooltip": {
      "mode": "single"
    },
    "legend": {
      "displayMode": "table",
      "placement": "right",
      "calcs": [
        "max",
        "mean",
        "lastNotNull"
      ]
    }
  },
  "targets": [
    {
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "host"
          ],
          "type": "tag"
        },
        {
          "params": [
            "none"
          ],
          "type": "fill"
        }
      ],
      "measurement": "net",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT non_negative_derivative(mean(\"bytes_recv\"), 1s) *8 FROM \"net\" WHERE (\"host\" =~ /^$servername$/ AND \"interface\" = '$monint') AND $timeFilter GROUP BY time($__interval) fill(null)",
      "rawQuery": false,
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "bytes_recv"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          },
          {
            "params": [
              "1s"
            ],
            "type": "non_negative_derivative"
          },
          {
            "params": [
              "*8"
            ],
            "type": "math"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=~",
          "value": "/^$servername$/"
        },
        {
          "condition": "AND",
          "key": "interface",
          "operator": "=~",
          "value": "/^$monint$/"
        }
      ]
    }
  ],
  "cacheTimeout": null,
  "description": "",
  "maxDataPoints": null
}
