{
  "aliasColors": {},
  "dashLength": 10,
  "datasource": "InfluxDB",
  "fieldConfig": {
    "defaults": {},
    "overrides": []
  },
  "fill": 1,
    "gridPos": {
    "x": {{ PANELS.network_usage_docker_combined_current_graph.gridPos.x }},
    "y": {{ PANELS.network_usage_docker_combined_current_graph.gridPos.y }},
    "w": {{ PANELS.network_usage_docker_combined_current_graph.gridPos.w }},
    "h": {{ PANELS.network_usage_docker_combined_current_graph.gridPos.h }}
  },
  "id": 61868,
  "legend": {
    "alignAsTable": false,
    "avg": false,
    "current": false,
    "hideZero": false,
    "max": false,
    "min": false,
    "rightSide": false,
    "show": true,
    "total": false,
    "values": false
  },
  "lines": true,
  "linewidth": 1,
  "nullPointMode": "connected",
  "options": {
    "alertThreshold": true
  },
  "pluginVersion": "7.5.4",
  "pointradius": 2,
  "renderer": "flot",
  "seriesOverrides": [],
  "spaceLength": 10,
  "targets": [
    {
      "alias": "$tag_container_name RX",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "container_name"
          ],
          "type": "tag"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "docker_container_net",
      "orderByTime": "ASC",
      "policy": "default",
      "queryType": "randomWalk",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "rx_bytes"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_derivative",
            "params": [
              "1s"
            ]
          },
          {
            "type": "math",
            "params": [
              "*8"
            ]
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=~",
          "value": "/^$servername$/"
        },
        {
          "condition": "AND",
          "key": "container_name",
          "operator": "=~",
          "value": "/^$containers$/"
        }
      ]
    },
    {
      "alias": "$tag_container_name TX",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "container_name"
          ],
          "type": "tag"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "docker_container_net",
      "orderByTime": "ASC",
      "policy": "default",
      "queryType": "randomWalk",
      "refId": "B",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "tx_bytes"
            ]
          },
          {
            "type": "mean",
            "params": []
          },
          {
            "type": "non_negative_derivative",
            "params": [
              "1s"
            ]
          },
          {
            "type": "math",
            "params": [
              "*8"
            ]
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=~",
          "value": "/^$servername$/"
        },
        {
          "condition": "AND",
          "key": "container_name",
          "operator": "=~",
          "value": "/^$containers$/"
        }
      ],
      "hide": false
    }
  ],
  "thresholds": [],
  "timeRegions": [],
  "title": "Container Network Usage Current",
  "tooltip": {
    "shared": true,
    "sort": 2,
    "value_type": "individual"
  },
  "type": "graph",
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "$$hashKey": "object:315",
      "format": "bps",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    },
    {
      "$$hashKey": "object:316",
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": false
    }
  ],
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "bars": false,
  "dashes": false,
  "decimals": null,
  "fillGradient": 0,
  "hiddenSeries": false,
  "percentage": false,
  "points": false,
  "stack": false,
  "steppedLine": false,
  "timeFrom": null,
  "timeShift": null,
  "description": "",
  "maxDataPoints": 750,
  "interval": "30s"
}
