{
  "datasource": "InfluxDB",
  "fieldConfig": {
    "defaults": {
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          }
        ]
      },
      "mappings": [
        {
          "op": "=",
          "text": "N/A",
          "value": "null",
          "$$hashKey": "object:1382",
          "id": 0,
          "type": 1
        }
      ],
      "unit": "d",
      "decimals": 2,
      "color": {
        "mode": "thresholds"
      }
    },
    "overrides": []
  },
  "gridPos": {
    "x": {{ PANELS.pcap_retention_stat.gridPos.x }},
    "y": {{ PANELS.pcap_retention_stat.gridPos.y }},
    "w": {{ PANELS.pcap_retention_stat.gridPos.w }},
    "h": {{ PANELS.pcap_retention_stat.gridPos.h }}
  },
  "id": 26,
  "links": [],
  "maxDataPoints": 100,
  "targets": [
    {
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "pcapage",
      "orderByTime": "ASC",
      "policy": "default",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "seconds"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          },
          {
            "params": [
              "/86400"
            ],
            "type": "math"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$servername"
        }
      ]
    }
  ],
  "title": "PCAP Retention",
  "type": "stat",
  "options": {
    "reduceOptions": {
      "values": false,
      "calcs": [
        "last"
      ],
      "fields": ""
    },
    "orientation": "horizontal",
    "text": {},
    "textMode": "value",
    "colorMode": "value",
    "graphMode": "none",
    "justifyMode": "auto"
  },
  "cacheTimeout": null,
  "interval": null,
  "pluginVersion": "7.5.4"
}
