{
  "datasource": "InfluxDB",
  "fieldConfig": {
    "defaults": {
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          }
        ]
      },
      "mappings": [],
      "color": {
        "mode": "thresholds"
      },
      "unit": "short"
    },
    "overrides": []
  },
  "gridPos": {
    "x": {{ PANELS.redis_queue_stat.gridPos.x }},
    "y": {{ PANELS.redis_queue_stat.gridPos.y }},
    "w": {{ PANELS.redis_queue_stat.gridPos.w }},
    "h": {{ PANELS.redis_queue_stat.gridPos.h }}
  },
  "id": 68894,
  "options": {
    "reduceOptions": {
      "values": false,
      "calcs": [
        "lastNotNull"
      ],
      "fields": ""
    },
    "orientation": "auto",
    "text": {},
    "textMode": "auto",
    "colorMode": "value",
    "graphMode": "area",
    "justifyMode": "auto"
  },
  "pluginVersion": "7.5.4",
  "targets": [
    {
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "redisqueue",
      "orderByTime": "ASC",
      "policy": "default",
      "queryType": "randomWalk",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "unparsed"
            ]
          },
          {
            "type": "last",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=~",
          "value": "/^$servername$/"
        }
      ]
    }
  ],
  "title": "Redis Unparsed Queue",
  "type": "stat",
  "timeFrom": null,
  "timeShift": null,
  "interval": "30s"
}
