{
  "colorValue": true,
  "colors": [
    "rgba(50, 172, 45, 0.97)",
    "rgba(237, 129, 40, 0.89)",
    "rgba(245, 54, 54, 0.9)"
  ],
  "datasource": "InfluxDB",
  "editable": true,
  "format": "percent",
  "gauge": {
    "maxValue": 100,
    "minValue": 0,
    "show": true,
    "thresholdLabels": false,
    "thresholdMarkers": true
  },
  "gridPos": {
    "x": {{ PANELS.rootfs_used_guage.gridPos.x }},
    "y": {{ PANELS.rootfs_used_guage.gridPos.y }},
    "w": {{ PANELS.rootfs_used_guage.gridPos.w }},
    "h": {{ PANELS.rootfs_used_guage.gridPos.h }}
  },
  "height": "150",
  "id": 61866,
  "links": [],
  "mappingType": 1,
  "mappingTypes": [
    {
      "name": "value to text",
      "value": 1
    },
    {
      "name": "range to text",
      "value": 2
    }
  ],
  "maxDataPoints": 100,
  "nullPointMode": "connected",
  "postfixFontSize": "50%",
  "prefixFontSize": "50%",
  "rangeMaps": [
    {
      "from": "null",
      "text": "N/A",
      "to": "null"
    }
  ],
  "sparkline": {
    "fillColor": "rgba(31, 118, 189, 0.18)",
    "full": false,
    "lineColor": "rgb(31, 120, 193)",
    "show": false
  },
  "targets": [
    {
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "disk",
      "policy": "default",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "used_percent"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=~",
          "value": "/^$servername$/"
        },
        {
          "condition": "AND",
          "key": "path",
          "operator": "=",
          "value": "/"
        }
      ],
      "orderByTime": "ASC"
    }
  ],
  "thresholds": "70,80,90",
  "title": "RootFS used",
  "type": "singlestat",
  "valueFontSize": "80%",
  "valueMaps": [
    {
      "op": "=",
      "text": "N/A",
      "value": "null"
    }
  ],
  "valueName": "current",
  "fieldConfig": {
    "defaults": {},
    "overrides": []
  },
  "cacheTimeout": null,
  "colorBackground": false,
  "decimals": 0,
  "error": false,
  "interval": null,
  "nullText": null,
  "postfix": "",
  "prefix": "",
  "tableColumn": ""
}
