{
    "collapsed": false,
    "datasource": null,
    "gridPos": {
        "x": {{ PANELS.row_elasticsearch.gridPos.x }},
        "y": {{ PANELS.row_elasticsearch.gridPos.y }},
        "w": {{ PANELS.row_elasticsearch.gridPos.w }},
        "h": {{ PANELS.row_elasticsearch.gridPos.h }}
      },
    "id": 2442,
    "panels": [],
    "repeat": null,
    "title": "Elasticsearch",
    "type": "row"
  }
