{
    "collapsed": false,
    "datasource": null,
    "gridPos": {
        "x": {{ PANELS.overview.gridPos.x }},
        "y": {{ PANELS.overview.gridPos.y }},
        "w": {{ PANELS.overview.gridPos.w }},
        "h": {{ PANELS.overview.gridPos.h }}
      },
    "id": 1,
    "panels": [],
    "repeat": null,
    "title": "Overview",
    "type": "row"
  }
