{
    "collapsed": false,
    "datasource": null,
    "gridPos": {
        "x": {{ PANELS.row_redis.gridPos.x }},
        "y": {{ PANELS.row_redis.gridPos.y }},
        "w": {{ PANELS.row_redis.gridPos.w }},
        "h": {{ PANELS.row_redis.gridPos.h }}
      },
    "id": 24812,
    "panels": [],
    "repeat": null,
    "title": "Redis",
    "type": "row"
  }
