{
    "collapsed": false,
    "datasource": null,
    "gridPos": {
        "x": {{ PANELS.row_cpu.gridPos.x }},
        "y": {{ PANELS.row_cpu.gridPos.y }},
        "w": {{ PANELS.row_cpu.gridPos.w }},
        "h": {{ PANELS.row_cpu.gridPos.h }}
      },
    "id": 2,
    "panels": [],
    "repeat": null,
    "title": "CPU",
    "type": "row"
  }
