{
    "collapsed": false,
    "datasource": null,
    "gridPos": {
        "x": {{ PANELS.row_packetloss.gridPos.x }},
        "y": {{ PANELS.row_packetloss.gridPos.y }},
        "w": {{ PANELS.row_packetloss.gridPos.w }},
        "h": {{ PANELS.row_packetloss.gridPos.h }}
      },
    "id": 816341,
    "panels": [],
    "repeat": null,
    "title": "Packet Loss",
    "type": "row"
  }
