{
  "collapsed": false,
  "datasource": null,
  "gridPos": {
    "x": {{ PANELS.row_disk_iops.gridPos.x }},
    "y": {{ PANELS.row_disk_iops.gridPos.y }},
    "w": {{ PANELS.row_disk_iops.gridPos.w }},
    "h": {{ PANELS.row_disk_iops.gridPos.h }}
  },
  "id": 62055,
  "panels": [],
  "repeat": "disk",
  "scopedVars": {
    "disk": {
      "selected": false,
      "text": "sda",
      "value": "sda"
    }
  },
  "title": "Disk IOPS for /dev/$disk",
  "type": "row"
}
