{
  "cacheTimeout": null,
  "colorBackground": false,
  "colorValue": true,
  "colors": [
    "rgba(50, 172, 45, 0.97)",
    "rgba(237, 129, 40, 0.89)",
    "rgba(245, 54, 54, 0.9)"
  ],
  "datasource": "InfluxDB",
  "decimals": 0,
  "editable": true,
  "error": false,
  "format": "percent",
  "gauge": {
    "maxValue": 100,
    "minValue": 0,
    "show": true,
    "thresholdLabels": false,
    "thresholdMarkers": true
  },
    "gridPos": {
        "x": {{ PANELS.swap_usage_guage.gridPos.x }},
        "y": {{ PANELS.swap_usage_guage.gridPos.y }},
        "w": {{ PANELS.swap_usage_guage.gridPos.w }},
        "h": {{ PANELS.swap_usage_guage.gridPos.h }}
      },
  "height": "150",
  "id": 61863,
  "interval": null,
  "links": [],
  "mappingType": 1,
  "mappingTypes": [
    {
      "name": "value to text",
      "value": 1
    },
    {
      "name": "range to text",
      "value": 2
    }
  ],
  "maxDataPoints": 100,
  "nullPointMode": "connected",
  "nullText": null,
  "postfix": "",
  "postfixFontSize": "50%",
  "prefix": "",
  "prefixFontSize": "50%",
  "rangeMaps": [
    {
      "from": "null",
      "text": "N/A",
      "to": "null"
    }
  ],
  "sparkline": {
    "fillColor": "rgba(31, 118, 189, 0.18)",
    "full": false,
    "lineColor": "rgb(31, 120, 193)",
    "show": false
  },
  "tableColumn": "",
  "targets": [
    {
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "swap",
      "policy": "default",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "used_percent"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=~",
          "value": "/^$servername$/"
        }
      ]
    }
  ],
  "thresholds": "50,70,90",
  "title": "Swap usage",
  "type": "singlestat",
  "valueFontSize": "80%",
  "valueMaps": [
    {
      "op": "=",
      "text": "N/A",
      "value": "null"
    }
  ],
  "valueName": "current",
  "fieldConfig": {
    "defaults": {},
    "overrides": []
  }
}
