{
  "id": 61863,
  "gridPos": {
    "x": {{ PANELS.swap_usage_guage.gridPos.x }},
    "y": {{ PANELS.swap_usage_guage.gridPos.y }},
    "w": {{ PANELS.swap_usage_guage.gridPos.w }},
    "h": {{ PANELS.swap_usage_guage.gridPos.h }}
  },
  "type": "gauge",
  "title": "Swap usage",
  "datasource": "InfluxDB",
  "pluginVersion": "8.2.1",
  "links": [],
  "fieldConfig": {
    "defaults": {
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "rgba(50, 172, 45, 0.97)",
            "value": null
          },
          {
            "color": "rgba(237, 129, 40, 0.89)",
            "value": 50
          },
          {
            "color": "rgba(245, 54, 54, 0.9)",
            "value": 70
          }
        ]
      },
      "mappings": [
        {
          "options": {
            "match": "null",
            "result": {
              "text": "N/A"
            }
          },
          "type": "special"
        }
      ],
      "color": {
        "mode": "thresholds"
      },
      "decimals": 0,
      "max": 100,
      "min": 0,
      "unit": "percent"
    },
    "overrides": []
  },
  "interval": "30",
  "options": {
    "reduceOptions": {
      "values": false,
      "calcs": [
        "lastNotNull"
      ],
      "fields": ""
    },
    "orientation": "horizontal",
    "showThresholdLabels": false,
    "showThresholdMarkers": true,
    "text": {}
  },
  "targets": [
    {
      "dsType": "influxdb",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "swap",
      "policy": "default",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "used_percent"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "$servername"
        }
      ],
      "orderByTime": "ASC"
    }
  ],
  "maxDataPoints": null,
  "cacheTimeout": null
}
