{
  "type": "graph",
  "title": "System Uptime",
  "gridPos": {
    "x": {{ PANELS.system_uptime_graph.gridPos.x }},
    "y": {{ PANELS.system_uptime_graph.gridPos.y }},
    "w": {{ PANELS.system_uptime_graph.gridPos.w }},
    "h": {{ PANELS.system_uptime_graph.gridPos.h }}
  },
  "id": 69016,
  "targets": [
    {
      "refId": "A",
      "queryType": "randomWalk",
      "policy": "default",
      "resultFormat": "time_series",
      "orderByTime": "ASC",
      "tags": [
        {
          "key": "host",
          "operator": "=~",
          "value": "/^$servername$/"
        }
      ],
      "groupBy": [
        {
          "type": "time",
          "params": [
            "$__interval"
          ]
        },
        {
          "type": "tag",
          "params": [
            "host"
          ]
        },
        {
          "type": "tag",
          "params": [
            "role"
          ]
        },
        {
          "type": "fill",
          "params": [
            "null"
          ]
        }
      ],
      "select": [
        [
          {
            "type": "field",
            "params": [
              "uptime"
            ]
          },
          {
            "type": "last",
            "params": []
          }
        ]
      ],
      "measurement": "system",
      "alias": "$tag_host $tag_role"
    }
  ],
  "options": {
    "alertThreshold": true
  },
  "datasource": "InfluxDB",
  "fieldConfig": {
    "defaults": {},
    "overrides": []
  },
  "pluginVersion": "7.5.4",
  "renderer": "flot",
  "yaxes": [
    {
      "label": "",
      "show": true,
      "logBase": 1,
      "min": "0",
      "max": "604800",
      "format": "s",
      "$$hashKey": "object:213",
      "decimals": 1
    },
    {
      "label": null,
      "show": true,
      "logBase": 1,
      "min": null,
      "max": null,
      "format": "short",
      "$$hashKey": "object:214"
    }
  ],
  "xaxis": {
    "show": true,
    "mode": "time",
    "name": null,
    "values": [],
    "buckets": null
  },
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "lines": true,
  "linewidth": 1,
  "dashLength": 10,
  "spaceLength": 10,
  "pointradius": 2,
  "legend": {
    "show": true,
    "values": true,
    "min": false,
    "max": false,
    "current": true,
    "total": false,
    "avg": false,
    "alignAsTable": true,
    "rightSide": true
  },
  "nullPointMode": "connected",
  "tooltip": {
    "value_type": "individual",
    "shared": true,
    "sort": 1
  },
  "aliasColors": {},
  "seriesOverrides": [],
  "thresholds": [],
  "timeRegions": [],
  "fill": 0,
  "fillGradient": 0,
  "dashes": false,
  "hiddenSeries": false,
  "points": false,
  "bars": false,
  "stack": false,
  "percentage": false,
  "steppedLine": false,
  "decimals": 1,
  "description": ""
}
