{
  "datasource": "InfluxDB",
  "fieldConfig": {
    "defaults": {
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "rgb(255, 255, 255)",
            "value": null
          }
        ]
      },
      "mappings": [],
      "decimals": 2,
      "unit": "s"
    },
    "overrides": []
  },
  "gridPos": {
    "h": 5,
    "w": 4,
    "x": 4,
    "y": 0
  },
  "id": 39,
  "options": {
    "reduceOptions": {
      "values": false,
      "calcs": [
        "lastNotNull"
      ],
      "fields": ""
    },
    "orientation": "auto",
    "text": {},
    "textMode": "auto",
    "colorMode": "value",
    "graphMode": "none",
    "justifyMode": "auto"
  },
  "pluginVersion": "7.5.4",
  "targets": [
    {
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "system",
      "orderByTime": "ASC",
      "policy": "default",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "uptime"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "last"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=",
          "value": "{{ SERVERNAME }}"
        }
      ]
    }
  ],
  "timeFrom": null,
  "timeShift": null,
  "title": "{{ SERVERNAME }} - System Uptime",
  "type": "stat"
}
