{
  "id": 68999,
  "gridPos": {
    "x": {{ PANELS.uptime_docker_combined_trend_graph.gridPos.x }},
    "y": {{ PANELS.uptime_docker_combined_trend_graph.gridPos.y }},
    "w": {{ PANELS.uptime_docker_combined_trend_graph.gridPos.w }},
    "h": {{ PANELS.uptime_docker_combined_trend_graph.gridPos.h }}
  },
  "type": "graph",
  "title": "Container Uptime Trend",
  "datasource": "InfluxDB",
  "thresholds": [
    {
      "$$hashKey": "object:1299",
      "colorMode": "critical",
      "fill": false,
      "line": true,
      "op": "lt",
      "value": 4500000000000,
      "yaxis": "left"
    }
  ],
  "pluginVersion": "8.2.1",
  "legend": {
    "alignAsTable": true,
    "avg": false,
    "current": true,
    "max": false,
    "min": false,
    "rightSide": true,
    "show": true,
    "sort": "current",
    "sortDesc": false,
    "total": false,
    "values": true
  },
  "aliasColors": {},
  "dashLength": 10,
  "decimals": 1,
  "lines": true,
  "linewidth": 1,
  "nullPointMode": "connected",
  "options": {
    "alertThreshold": true
  },
  "pointradius": 2,
  "renderer": "flot",
  "seriesOverrides": [],
  "spaceLength": 10,
  "targets": [
    {
      "alias": "$tag_host: $tag_container_name",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "container_name"
          ],
          "type": "tag"
        },
        {
          "type": "tag",
          "params": [
            "host"
          ]
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "docker_container_status",
      "orderByTime": "ASC",
      "policy": "so_long_term",
      "queryType": "randomWalk",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "mean_uptime_ns"
            ]
          },
          {
            "type": "last",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=~",
          "value": "/^$servername$/"
        },
        {
          "condition": "AND",
          "key": "container_name",
          "operator": "=~",
          "value": "/^$containers$/"
        }
      ]
    }
  ],
  "timeRegions": [],
  "tooltip": {
    "shared": true,
    "sort": 1,
    "value_type": "individual"
  },
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "$$hashKey": "object:192",
      "format": "ns",
      "label": null,
      "logBase": 1,
      "max": "604800000000000",
      "min": null,
      "show": true,
      "decimals": 1
    },
    {
      "$$hashKey": "object:193",
      "decimals": 2,
      "format": "short",
      "label": "",
      "logBase": 1,
      "max": null,
      "min": "0",
      "show": false
    }
  ],
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "interval": "30s",
  "bars": false,
  "dashes": false,
  "fill": 0,
  "fillGradient": 0,
  "hiddenSeries": false,
  "percentage": false,
  "points": false,
  "stack": false,
  "steppedLine": false,
  "timeFrom": null,
  "timeShift": null
}
