{
  "aliasColors": {},
  "dashLength": 10,
  "datasource": "InfluxDB",
  "decimals": 1,
  "fieldConfig": {
    "defaults": {},
    "overrides": []
  },
  "gridPos": {
    "x": {{ PANELS.uptime_docker_combined_current_graph.gridPos.x }},
    "y": {{ PANELS.uptime_docker_combined_current_graph.gridPos.y }},
    "w": {{ PANELS.uptime_docker_combined_current_graph.gridPos.w }},
    "h": {{ PANELS.uptime_docker_combined_current_graph.gridPos.h }}
  },
  "id": 68896,
  "legend": {
    "alignAsTable": true,
    "avg": false,
    "current": true,
    "max": false,
    "min": false,
    "rightSide": true,
    "show": true,
    "sort": "current",
    "sortDesc": false,
    "total": false,
    "values": true
  },
  "lines": true,
  "linewidth": 1,
  "nullPointMode": "connected",
  "options": {
    "alertThreshold": true
  },
  "pluginVersion": "7.5.4",
  "pointradius": 2,
  "renderer": "flot",
  "seriesOverrides": [],
  "spaceLength": 10,
  "targets": [
    {
      "alias": "$tag_host $tag_role $tag_container_name",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "container_name"
          ],
          "type": "tag"
        },
        {
          "type": "tag",
          "params": [
            "host"
          ]
        },
        {
          "type": "tag",
          "params": [
            "role"
          ]
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "docker_container_status",
      "orderByTime": "ASC",
      "policy": "default",
      "query": "SELECT last(\"uptime_ns\") FROM \"docker_container_status\" WHERE (\"host\" =~ /^$servername$/ AND \"container_name\" =~ /^$containers$/) AND $timeFilter GROUP BY time($__interval), \"container_name\", \"host\", \"role\" fill(null)",
      "queryType": "randomWalk",
      "rawQuery": false,
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "type": "field",
            "params": [
              "uptime_ns"
            ]
          },
          {
            "type": "last",
            "params": []
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=~",
          "value": "/^$servername$/"
        },
        {
          "condition": "AND",
          "key": "container_name",
          "operator": "=~",
          "value": "/^$containers$/"
        }
      ],
      "slimit": "",
      "limit": ""
    }
  ],
  "thresholds": [],
  "timeRegions": [],
  "title": "Container Uptime Current",
  "tooltip": {
    "shared": true,
    "sort": 1,
    "value_type": "individual"
  },
  "type": "graph",
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "$$hashKey": "object:192",
      "format": "ns",
      "label": null,
      "logBase": 1,
      "max": "604800000000000",
      "min": "0",
      "show": true,
      "decimals": 1
    },
    {
      "$$hashKey": "object:193",
      "decimals": 2,
      "format": "short",
      "label": "",
      "logBase": 1,
      "max": null,
      "min": "0",
      "show": false
    }
  ],
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "bars": false,
  "dashes": false,
  "fill": 0,
  "fillGradient": 0,
  "hiddenSeries": false,
  "percentage": false,
  "points": false,
  "stack": false,
  "steppedLine": false,
  "timeFrom": null,
  "timeShift": null
}
