{
  "id": 71,
  "gridPos": {
    "x": {{ PANELS.zeek_capture_loss_graph.gridPos.x }},
    "y": {{ PANELS.zeek_capture_loss_graph.gridPos.y }},
    "w": {{ PANELS.zeek_capture_loss_graph.gridPos.w }},
    "h": {{ PANELS.zeek_capture_loss_graph.gridPos.h }}
  },
  "type": "timeseries",
  "title": "Capture Loss",
  "datasource": "InfluxDB",
  "pluginVersion": "8.2.1",
  "interval": "30s",
  "fieldConfig": {
    "defaults": {
      "custom": {
        "drawStyle": "line",
        "lineInterpolation": "linear",
        "barAlignment": 0,
        "lineWidth": 1,
        "fillOpacity": 10,
        "gradientMode": "none",
        "spanNulls": true,
        "showPoints": "auto",
        "pointSize": 6,
        "stacking": {
          "mode": "none",
          "group": "A"
        },
        "axisPlacement": "auto",
        "axisLabel": "",
        "scaleDistribution": {
          "type": "linear"
        },
        "hideFrom": {
          "tooltip": false,
          "viz": false,
          "legend": false
        },
        "thresholdsStyle": {
          "mode": "off"
        }
      },
      "color": {
        "mode": "palette-classic"
      },
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          }
        ]
      },
      "mappings": [],
      "links": [],
      "unit": "percent",
      "decimals": 1,
      "min": 0
    },
    "overrides": [
      {
        "matcher": {
          "id": "byRegexp",
          "options": "/Trend/"
        },
        "properties": [
          {
            "id": "custom.fillOpacity",
            "value": 0
          },
          {
            "id": "custom.lineWidth",
            "value": 4
          },
          {
            "id": "custom.lineStyle",
            "value": {
              "fill": "dash",
              "dash": [
                4,
                10
              ]
            }
          }
        ]
      }
    ]
  },
  "options": {
    "tooltip": {
      "mode": "single"
    },
    "legend": {
      "displayMode": "table",
      "placement": "right",
      "calcs": [
        "mean",
        "lastNotNull"
      ]
    }
  },
  "targets": [
    {
      "alias": "$tag_host: Loss Current",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "type": "tag",
          "params": [
            "host"
          ]
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "measurement": "zeekcaptureloss",
      "orderByTime": "ASC",
      "policy": "default",
      "refId": "A",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "loss"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=~",
          "value": "/^$servername$/"
        }
      ]
    },
    {
      "alias": "$tag_host: Loss Trend",
      "groupBy": [
        {
          "params": [
            "$__interval"
          ],
          "type": "time"
        },
        {
          "params": [
            "null"
          ],
          "type": "fill"
        }
      ],
      "hide": true,
      "measurement": "zeekcaptureloss",
      "orderByTime": "ASC",
      "policy": "so_long_term",
      "refId": "B",
      "resultFormat": "time_series",
      "select": [
        [
          {
            "params": [
              "mean_loss"
            ],
            "type": "field"
          },
          {
            "params": [],
            "type": "mean"
          }
        ]
      ],
      "tags": [
        {
          "key": "host",
          "operator": "=~",
          "value": "/^$servername$/"
        }
      ]
    }
  ],
  "maxDataPoints": null,
  "timeFrom": null,
  "timeShift": null
}
