{% set NODE_CONTAINERS = [
     'so-dockerregistry',
     'so-elasticsearch',
     'so-grafana',
     'so-influxdb',
     'so-kibana',
     'so-kratos',
     'so-mysql',
     'so-nginx',
     'so-redis',
     'so-soc',
     'so-soctopus'
] %}
