{% set iptmap = salt['grains.filter_by']({
    'Debian': {
        'service': 'netfilter-persistent',
        'iptpkg': 'iptables',
        'persistpkg': 'iptables-persistent',
        'configfile': '/etc/iptables/rules.v4'
    },
    'RedHat': {
        'service': 'iptables',
        'iptpkg': 'iptables-nft',
        'persistpkg': 'iptables-nft-services',
        'configfile': '/etc/sysconfig/iptables'
    },
}) %}
