{% import_yaml 'firewall/port_groups.yaml' as port_groups %}
{% set port_groups = port_groups.firewall.aliases.ports %}

role:
  eval:
    hostgroups:
      dockernet:
        port_groups:
          - {{ port_groups.all }}
      master:
        port_groups:
          - {{ port_groups.wazuh_endpoint }}
          - {{ port_groups.playbook }}
          - {{ port_groups.mysql }}
          - {{ port_groups.navigator }}
          - {{ port_groups.kibana }}
          - {{ port_groups.redis }}
          - {{ port_groups.influxdb }}
          - {{ port_groups.fleet_api }}
          - {{ port_groups.cortex }}
          - {{ port_groups.elasticsearch_rest }}
          - {{ port_groups.elasticsearch_node }}
          - {{ port_groups.cortex_es_rest }}
          - {{ port_groups.cortex_es_node }}
      minion:
        port_groups:
          - {{ port_groups.acng }}
          - {{ port_groups.salt_master }}
          - {{ port_groups.docker_registry }}
          - {{ port_groups.osquery_8080 }}
          - {{ port_groups.influxdb }}
          - {{ port_groups.wazuh_minion }}
      sensor:
        port_groups:
          - {{ port_groups.sensoroni }}
          - {{ port_groups.beats_5044 }}
          - {{ port_groups.beats_5644 }}
      search_node:
        port_groups:
          - {{ port_groups.redis }}
          - {{ port_groups.elasticsearch_node }}
      beats_endpoint:
        port_groups:
          - {{ port_groups.beats_5044 }}
      osquery_endpoint:
        port_groups:
          - {{ port_groups.fleet_api }}
      wazuh_endpoint:
        port_groups:
          - {{ port_groups.wazuh_endpoint  }}
      analyst:
        port_groups:
          - {{ port_groups.nginx }}
  helisensor:
    hostgroups:
      dockernet:
        port_groups:
          - {{ port_groups.all }}
      master:
        port_groups:
          - {{ port_groups.wazuh_endpoint }}
          - {{ port_groups.playbook }}
          - {{ port_groups.mysql }}
          - {{ port_groups.navigator }}
          - {{ port_groups.kibana }}
          - {{ port_groups.redis }}
          - {{ port_groups.influxdb }}
          - {{ port_groups.fleet_api }}
          - {{ port_groups.cortex }}
          - {{ port_groups.elasticsearch_rest }}
          - {{ port_groups.elasticsearch_node }}
          - {{ port_groups.cortex_es_rest }}
          - {{ port_groups.cortex_es_node }}
      minion:
        port_groups:
          - {{ port_groups.acng }}
          - {{ port_groups.salt_master }}
          - {{ port_groups.docker_registry }}
          - {{ port_groups.osquery_8080 }}
          - {{ port_groups.influxdb }}
          - {{ port_groups.wazuh_minion }}
      sensor:
        port_groups:
          - {{ port_groups.sensoroni }}
          - {{ port_groups.beats_5044 }}
          - {{ port_groups.beats_5644 }}
      search_node:
        port_groups:
          - {{ port_groups.redis }}
          - {{ port_groups.elasticsearch_node }}
      beats_endpoint:
        port_groups:
          - {{ port_groups.beats_5044 }}
      osquery_endpoint:
        port_groups:
          - {{ port_groups.fleet_api }}
      wazuh_endpoint:
        port_groups:
          - {{ port_groups.wazuh_endpoint  }}
      analyst:
        port_groups:
          - {{ port_groups.nginx }}
  master:
    hostgroups:
      dockernet:
        port_groups:
          - {{ port_groups.all }}
      master:
        port_groups:
          - {{ port_groups.wazuh_endpoint }}
          - {{ port_groups.playbook }}
          - {{ port_groups.mysql }}
          - {{ port_groups.navigator }}
          - {{ port_groups.kibana }}
          - {{ port_groups.redis }}
          - {{ port_groups.influxdb }}
          - {{ port_groups.fleet_api }}
          - {{ port_groups.cortex }}
          - {{ port_groups.elasticsearch_rest }}
          - {{ port_groups.elasticsearch_node }}
          - {{ port_groups.cortex_es_rest }}
          - {{ port_groups.cortex_es_node }}
      minion:
        port_groups:
          - {{ port_groups.acng }}
          - {{ port_groups.salt_master }}
          - {{ port_groups.docker_registry }}
          - {{ port_groups.osquery_8080 }}
          - {{ port_groups.influxdb }}
          - {{ port_groups.wazuh_minion }}
      sensor:
        port_groups:
          - {{ port_groups.sensoroni }}
          - {{ port_groups.beats_5044 }}
          - {{ port_groups.beats_5644 }}
      search_node:
        port_groups:
          - {{ port_groups.redis }}
          - {{ port_groups.elasticsearch_node }}
      beats_endpoint:
        port_groups:
          - {{ port_groups.beats_5044 }}
      osquery_endpoint:
        port_groups:
            - {{ port_groups.fleet_api }}
      wazuh_endpoint:
        port_groups:
          - {{ port_groups.wazuh_endpoint  }}
      analyst:
        port_groups:
          - {{ port_groups.nginx }}
  mastersearch:
    hostgroups:
      dockernet:
        port_groups:
          - {{ port_groups.all }}
      master:
        port_groups:
          - {{ port_groups.wazuh_endpoint }}
          - {{ port_groups.playbook }}
          - {{ port_groups.mysql }}
          - {{ port_groups.navigator }}
          - {{ port_groups.kibana }}
          - {{ port_groups.redis }}
          - {{ port_groups.influxdb }}
          - {{ port_groups.fleet_api }}
          - {{ port_groups.cortex }}
          - {{ port_groups.elasticsearch_rest }}
          - {{ port_groups.elasticsearch_node }}
          - {{ port_groups.cortex_es_rest }}
          - {{ port_groups.cortex_es_node }}
      minion:
        port_groups:
          - {{ port_groups.acng }}
          - {{ port_groups.salt_master }}
          - {{ port_groups.docker_registry }}
          - {{ port_groups.osquery_8080 }}
          - {{ port_groups.influxdb }}
          - {{ port_groups.wazuh_minion }}
      sensor:
        port_groups:
          - {{ port_groups.sensoroni }}
          - {{ port_groups.beats_5044 }}
          - {{ port_groups.beats_5644 }}
      search_node:
        port_groups:
          - {{ port_groups.redis }}
          - {{ port_groups.elasticsearch_node }}
      beats_endpoint:
        port_groups:
          - {{ port_groups.beats_5044 }}
      osquery_endpoint:
        port_groups:
          - {{ port_groups.fleet_api }}
      wazuh_endpoint:
        port_groups:
          - {{ port_groups.wazuh_endpoint  }}
      analyst:
        port_groups:
          - {{ port_groups.nginx }}
  standalone:
    hostgroups:
      dockernet:
        port_groups:
          - {{ port_groups.all }}
      master:
        port_groups:
          - {{ port_groups.wazuh_endpoint }}
          - {{ port_groups.playbook }}
          - {{ port_groups.mysql }}
          - {{ port_groups.navigator }}
          - {{ port_groups.kibana }}
          - {{ port_groups.redis }}
          - {{ port_groups.influxdb }}
          - {{ port_groups.fleet_api }}
          - {{ port_groups.cortex }}
          - {{ port_groups.elasticsearch_rest }}
          - {{ port_groups.elasticsearch_node }}
          - {{ port_groups.cortex_es_rest }}
          - {{ port_groups.cortex_es_node }}
      minion:
        port_groups:
          - {{ port_groups.acng }}
          - {{ port_groups.salt_master }}
          - {{ port_groups.docker_registry }}
          - {{ port_groups.osquery_8080 }}
          - {{ port_groups.influxdb }}
          - {{ port_groups.wazuh_minion }}
      sensor:
        port_groups:
          - {{ port_groups.sensoroni }}
          - {{ port_groups.beats_5044 }}
          - {{ port_groups.beats_5644 }}
      search_node:
        port_groups:
          - {{ port_groups.redis }}
          - {{ port_groups.elasticsearch_node }}
      beats_endpoint:
        port_groups:
          - {{ port_groups.beats_5044 }}
      osquery_endpoint:
        port_groups:
          - {{ port_groups.fleet_api }}
      wazuh_endpoint:
        port_groups:
          - {{ port_groups.wazuh_endpoint  }}
      analyst:
        port_groups:
          - {{ port_groups.nginx }}
  searchnode:
    hostgroups:
      master:
        port_groups:
          - {{ port_groups.elasticsearch_node }}
      dockernet:
        port_groups:
          - {{ port_groups.all }}
          - {{ port_groups.elasticsearch_node }}
          - {{ port_groups.elasticsearch_node }}
  sensor:
    hostgroups:
      dockernet:
        port_groups:
          - {{ port_groups.all }}
  heavynode:
    hostgroups:
      self:
        port_groups:
          - {{ port_groups.redis }}
          - {{ port_groups.beats_5044 }}
          - {{ port_groups.beats_5644 }}
  fleet:
    hostgroups:
      dockernet:
        port_groups:
          - {{ port_groups.all }}
      self:
        port_groups:
          - {{ port_groups.redis }}
          - {{ port_groups.mysql }}
          - {{ port_groups.osquery_8080 }}
      localhost:
        port_groups:
          - {{ port_groups.mysql }}
          - {{ port_groups.osquery_8080 }}
      analyst:
        port_groups:
          - {{ port_groups.fleet_webui }}