searchnode:
  provider: local-kvm
  base_domain: jppol9vm
  ip_source: qemu-agent
  ssh_username: jpatterson
  private_key: /home/jpatterson/.ssh/id_rsa
  sudo: True
  # /tmp is mounted noexec.. do workaround
  deploy_command: sh /tmp/.saltcloud-*/deploy.sh
  script_args: -F -x python3 stable 3006.1
  # grains to add to the minion
  #grains:
  #  clones-are-awesome: true
  # override minion settings
  minion:
    master: jppvirt
    master_port: 4506
    startup_states: sls
    sls_list:
      - setHostname

sensor:
  provider: local-kvm
  base_domain: jppol9vm
  ip_source: qemu-agent
  ssh_username: jpatterson
  private_key: /home/jpatterson/.ssh/id_rsa
  sudo: True
  #preflight_cmds:
  #  - echo "do something"
  #  - hostname
  # /tmp is mounted noexec.. do workaround
  deploy_command: sh /tmp/.saltcloud-*/deploy.sh
  script_args: -F -x python3 stable 3006.1
  # the destination directory will be created if it doesn't exist
  #file_map:
  #  /srv/salt/filemap.txt: /remote/path/to/use/custom/filemap.txt
  #inline_script:
  #  - echo "SLEEPING"
  #  - hostname
  # grains to add to the minion
  #grains:
  #  clones-are-awesome: true
  # override minion settings
  minion:
    master: jppvirt
    master_port: 4506
    startup_states: sls
    sls_list:
      - setHostname

{%- for node_type, hosts in HYPERVISORS.items() %}
{%-   for host in hosts %}

core-{{host}}:
  provider: kvm-ssh-{{host}}
  base_domain: jppol9vm
  ip_source: qemu-agent
  ssh_username: onionuser
  private_key: /home/onionuser/.ssh/id_ed25519
  sudo: True
  deploy_command: sh /tmp/.saltcloud-*/deploy.sh
  script_args: -F -x python3 stable 3006.1
  minion:
    master: jpp90man
    master_port: 4506
    startup_states: sls
    sls_list:
      - setHostname

{%-   endfor %}
{%- endfor %}
