{#- Copyright Security Onion Solutions LLC and/or licensed to Security Onion Solutions LLC under one
   or more contributor license agreements. Licensed under the Elastic License 2.0 as shown at 
   https://securityonion.net/license; you may not use this file except in compliance with the
   Elastic License 2.0. #}

{%- for role, hosts in HYPERVISORS.items() %}
{%-   for host in hosts.keys() -%}

core-{{host}}:
  provider: kvm-ssh-{{host}}
  base_domain: coreol9
  ip_source: qemu-agent
  ssh_username: soqemussh
  private_key: /home/soqemussh/.ssh/id_ed25519
  sudo: True
  deploy_command: sh /tmp/.saltcloud-*/deploy.sh
  script_args: -F -x python3 stable 3006.1
  minion:
    master: {{ grains.host }}
    master_port: 4506
    startup_states: sls
    sls_list:
      - setup.virt.setHostname
      - salt.minion
    use_superseded:
      - module.run
    features:
      x509_v2: true
    log_level: info
    log_level_logfile: info
    log_file: /opt/so/log/salt/minion
  grains:
    hypervisor_host: {{host ~ "_" ~ role}}
  #preflight_cmds:
  #  - echo "preflight_cmds"
  # the destination directory will be created if it doesn't exist
  #file_map:
  #  /opt/so/saltstack/default/salt/repo/client/files/oracle/keys/securityonion.pub: /tmp/securityonion.pub
  #inline_script:
  #  - "rpm --import /tmp/securityonion.pub"
  # grains to add to the minion

{%-   endfor %}
{%- endfor %}
