{%- import_yaml 'influxdb/defaults.yaml' as INFLUXDEFAULTS %}
{%- set INFLUXMERGED = salt['pillar.get']('influxdb', default=INFLUXDEFAULTS.influxdb, merge=true) %}

{%- for header in INFLUXMERGED.config.keys() %}
{%-   if header in ['graphite', 'collectd', 'opentsdb', 'udp'] %}
[[{{header}}]]
{%-   else %}
[{{header}}]
{%-   endif %}
{%-   for k, v in INFLUXMERGED.config[header].items() %}
{#-     is v a list? #}
{%-     if v is iterable and (v is not string and v is not mapping) %}
  {{k}} = [
{%-       for li in v %}
      "{{li}}",
{%-       endfor %}
  ]
{%-     elif v is string %}
  {{k}} = "{{v}}"
{%-     elif v is boolean %}
  {{k}} = {{v|string|lower}}
{%-     else %}
  {{k}} = {{v}}
{%-     endif %}
{%-   endfor %}
{%- endfor %}
