{%- import_yaml 'influxdb/defaults.yaml' as influx %}

{%- for header in influx.influxdb.config.keys() %}
{%-   if header in ['graphite', 'collectd', 'opentsdb', 'udp'] %}
[[{{header}}]]
{%-   else %}
[{{header}}]
{%-   endif %}
{%-   for k, v in influx.influxdb.config[header].items() %}
{#-     is v a list? #}
{%-     if v is iterable and (v is not string and v is not mapping) %}
  {{k}} = [
{%-       for li in v %}
      "{{li}}",
{%-       endfor %}
  ]
{%-     else %}
{%-       if v is string %}
  {{k}} = "{{v}}"
{%-       elif v is boolean %}
  {{k}} = {{v|string|lower}}
{%-       else %}
  {{k}} = {{v}}
{%-       endif %}
{%-     endif %}
{%-   endfor %}
{%- endfor %}
