{% set reserved_usernames = [
    'root',
    'bin',
    'daemon',
    'adm',
    'lp',
    'sync',
    'shutdown',
    'halt',
    'mail',
    'operator',
    'games',
    'ftp',
    'nobody',
    'systemd-network',
    'dbus',
    'polkitd',
    'tss',
    'sshd',
    'ossec',
    'postfix',
    'chrony',
    'ntp',
    'tcpdump',
    'socore',
    'soremote',
    'elasticsearch',
    'stenographer',
    'suricata',
    'zeek',
    'curator',
    'kratos',
    'kibana',
    'elastalert',
    'ossecm',
    'ossecr',
    'logstash',
    'sys',
    'man',
    'news',
    'uucp',
    'proxy',
    'www-data',
    'backup',
    'list',
    'irc',
    'gnats',
    'systemd-resolve',
    'syslog',
    'messagebus',
    '_apt',
    'lxd',
    'uuidd',
    'dnsmasq',
    'landscape',
    'pollinate',
    'ossec'
] %}
