{% from 'vars/globals.map.jinja' import GLOBALS %}
{% from 'kafka/map.jinja' import KAFKAMERGED %}

{% set KAFKACONFIG = {} %}
{% for k, v in KAFKAMERGED.config.keys() %}
{%   do KAFKACONFIG.update({k | replace("_x_", "."): v}) %}
{% endfor %}

