mine_interval: 35
mine_functions:
  network.ip_addrs:
    - interface: {{ GLOBALS.main_interface }}
{% if GLOBALS.is_manager -%}
  x509.get_pem_entries:
    - glob_path: '/etc/pki/ca.crt'
{% endif -%}
