{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "description": "MY DASHBOARD DESCRIPTION",
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "id": 7,
  "iteration": 1625757047565,
  "links": [],
  "panels": [],
  "schemaVersion": 27,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": [
      {
        "allValue": null,
        "current": {
          "selected": false,
          "text": "eth0",
          "value": "eth0"
        },
        "datasource": "InfluxDB",
        "definition": "SELECT \"manint\" FROM \"node_config\" WHERE (\"host\" = 'jppce2360sa-influx-scripts')",
        "description": null,
        "error": null,
        "hide": 0,
        "includeAll": false,
        "label": "Management Interface",
        "multi": false,
        "name": "manint",
        "options": [],
        "query": "SELECT \"manint\" FROM \"node_config\" WHERE (\"host\" = 'jppce2360sa-influx-scripts')",
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "sort": 0,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": false
      },
      {
        "allValue": null,
        "current": {},
        "datasource": "InfluxDB",
        "definition": "SELECT \"monint\" FROM \"node_config\" WHERE (\"host\" = 'jppce2360sa-influx-scripts')",
        "description": null,
        "error": null,
        "hide": 0,
        "includeAll": false,
        "label": "Monitor Interface",
        "multi": false,
        "name": "monint",
        "options": [],
        "query": "SELECT \"monint\" FROM \"node_config\" WHERE (\"host\" = 'jppce2360sa-influx-scripts')",
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "sort": 0,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": false
      },
      {
        "allValue": null,
        "current": {},
        "datasource": "InfluxDB",
        "definition": "show tag values with key=\"host\" where \"role\" = 'standalone'",
        "description": "",
        "error": null,
        "hide": 0,
        "includeAll": false,
        "label": "Node",
        "multi": false,
        "name": "servername",
        "options": [],
        "query": "show tag values with key=\"host\" where \"role\" = 'standalone'",
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "sort": 0,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": false
      },
      {
        "allValue": null,
        "current": {
          "selected": false,
          "text": "",
          "value": ""
        },
        "datasource": "InfluxDB",
        "definition": "SELECT \"n_cpus\" FROM \"system\" WHERE \"host\" = '$servername'",
        "description": null,
        "error": null,
        "hide": 2,
        "includeAll": false,
        "label": "CPU Count",
        "multi": false,
        "name": "cpucount",
        "options": [],
        "query": "SELECT \"n_cpus\" FROM \"system\" WHERE \"host\" = '$servername'",
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "sort": 0,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": false
      }
    ]
  },
  "time": {
    "from": "now-3h",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": [
      "30s",
      "1m",
      "5m",
      "15m",
      "30m",
      "1h",
      "2h",
      "1d"
    ]
  },
  "timezone": "browser",
  "title": "Standalone Dashboard",
  "uid": "{{ UID }}",
  "version": 1
}
