# this file will exist in /opt/so/saltstack/local/salt/hypervisor/hosts/HOSTNAME/hardwareMap
hypervisor:
  hardware:
    copper:
      claimed:
        1: pci_0000_c1_00_0
        2: pci_0000_c1_00_1
      free:
        3: pci_0000_c4_00_0
        4: pci_0000_c4_00_1
        5: pci_0000_c4_00_2
        6: pci_0000_c4_00_3
    cpu:
      free: 120
      total: 120
    disk:
      claimed:
        1: pci_0000_c5_00_0
        2: pci_0000_c6_00_0
      free:
        3: pci_0000_c7_00_0
        4: pci_0000_c8_00_0
    memory:
      free: 120
      total: 120
    sfp:
      claimed: {}
      free:
        8: pci_0000_02_00_1
        7: pci_0000_02_00_0
        9: pci_0000_41_00_0
        10: pci_0000_41_00_1
