{% set HYPERVISORS = salt['pillar.get']('hypervisor:nodes', {}) %}

{# Define the list of process steps in order (case-sensitive) #}
{% set PROCESS_STEPS = [
    'Processing',
    'Hypervisor NSM Disk Full',
    'IP Configuration',
    'Starting Create',
    'Executing Deploy Script',
    'Initialize Minion Pillars',
    'Created Instance',
    'Volume Creation',
    'Volume Configuration',
    'Hardware Configuration',
    'Highstate Initiated',
    'Destroyed Instance'
] %}
