{% set HYPERVISORS = salt['pillar.get']('hypervisor:nodes', {}) %}

{# Define the list of process steps in order (case-sensitive) #}
{% set PROCESS_STEPS = [
    'Processing',
    'IP Configuration',
    'Starting Create',
    'Executing Deploy Script',
    'Initialize Minion Pillars',
    'Created Instance',
    'Hardware Configuration',
    'Highstate Triggered',
    'Destroyed Instance'
] %}
