hypervisor:
  vm:
    sen41_sensor:
      cpu: 16
      memory: 24
      disk: 3
      copper: 3,4
      sfp: 7,8
    sea42_searchnode:
      cpu: 16
      memory: 24
      disk: 4
      copper:
      sfp:
