{%- set SHARDS = salt['pillar.get']('elasticsearch:index_settings:so-elasticsearch:shards', 1) %}
{%- set REPLICAS = salt['pillar.get']('elasticsearch:replicas', 0) %}
{%- set REFRESH = salt['pillar.get']('elasticsearch:index_settings:so-elasticsearch:refresh', '30s') %}
{
  "index_patterns": ["so-elasticsearch-*"],
  "version":50001,
  "order":11,
  "settings":{
    "number_of_replicas":{{ REPLICAS }},
    "number_of_shards":{{ SHARDS }},
    "index.refresh_interval":"{{ REFRESH }}"
  }
}
