{% import_yaml 'salt/minion.defaults.yaml' as saltminion %}
{% set SALTVERSION = saltminion.salt.minion.version %}
{% set INSTALLEDSALTVERSION = salt['pkg.version']('salt-minion').split('-')[0] %}
{% set ISAIRGAP = salt['pillar.get']('global:airgap', 'False') %}

{% if grains.os|lower == 'ubuntu' %}
  {% set COMMON = 'salt-common' %}
{% elif grains.os|lower in ['centos', 'redhat'] %}
  {% set COMMON = 'salt' %}
{% endif %}

{% if grains.saltversion|string != SALTVERSION|string %}
  {% if grains.os|lower in ['centos', 'redhat'] %}
    {% if ISAIRGAP is sameas true %}
      {% set UPGRADECOMMAND = 'yum clean all && yum versionlock delete "salt-*" && /usr/sbin/bootstrap-salt.sh -s 120 -r -F -x python3 stable ' ~ SALTVERSION ~ ' && yum versionlock add "salt-*" && pkill -9 -ef /usr/bin/salt-minion && salt-call state.highstate -l info > /opt/so/log/salt/salt-upgrade-highstate 2>&1' %}
    {% else %}
      {% set UPGRADECOMMAND = 'yum versionlock delete "salt-*" && /usr/sbin/bootstrap-salt.sh -s 120 -F -x python3 stable ' ~ SALTVERSION ~ ' && yum versionlock add "salt-*" && pkill -9 -ef /usr/bin/salt-minion && salt-call state.highstate -l info > /opt/so/log/salt/salt-upgrade-highstate 2>&1' %}
    {% endif %}
  {% elif grains.os|lower == 'ubuntu' %}
    {% set UPGRADECOMMAND = 'apt-mark unhold salt-common && apt-mark unhold salt-minion && /usr/sbin/bootstrap-salt.sh -s 120 -F -x python3 stable ' ~ SALTVERSION ~ ' && apt-mark hold salt-common && apt-mark hold salt-minion && pkill -9 -ef /usr/bin/salt-minion && salt-call state.highstate -l info > /opt/so/log/salt/salt-upgrade-highstate 2>&1' %}
  {% endif %}
{% else %}
  {% set UPGRADECOMMAND = 'echo Already running Salt Minon version ' ~ SALTVERSION %}
{% endif %}