# Set up a provider with qemu+ssh protocol
{%- for host in HYPERVISORS %}

kvm-ssh-{{host}}:
  driver: libvirt
  url: qemu+ssh://soqemussh@{{host}}/system?socket=/var/run/libvirt/libvirt-sock

{%- endfor %}

# Or connect to a local libvirt instance
#local-kvm:
#  driver: libvirt
#  url: qemu:///system
  # work around flag for XML validation errors while cloning
#  validate_xml: no
