{% load_yaml as afpacket %}
af-packet:
  - interface: {{ salt['pillar.get']('sensor:interface', 'bond0') }}
    cluster-id: 59
    cluster-type: cluster_flow
    defrag: yes
    use-mmap: yes
    threads: {{ salt['pillar.get']('sensor:suriprocs', salt['pillar.get']('sensor:suripins') | length) }}
    tpacket-v3: yes
    ring-size: {{ salt['pillar.get']('sensor:suriringsize', '5000') }}
  - interface: default
    #threads: auto
    #use-mmap: no
    #tpacket-v3: yes
{% endload %}
