{% macro remove_comments(bpfmerged, app) %}

{# remove comments from the bpf #}
{% for bpf in bpfmerged[app] %}
{%   if bpf.strip().startswith('#') %}
{%     do bpfmerged[app].pop(loop.index0) %}
{%   endif %}
{% endfor %}

{% endmacro %}
