{% macro remove_comments(bpfmerged, app) %}

{# remove comments from the bpf #}
{% set app_list = [] %}
{% for bpf in bpfmerged[app] %}
{%   if not bpf.strip().startswith('#') %}
{%     do app_list.append(bpf) %}
{%   endif %}
{% endfor %}
{% do bpfmerged.update({app: app_list}) %}

{% endmacro %}
