{% from 'vars/globals.map.jinja' import GLOBALS %}
{% if GLOBALS.pcap_engine == "TRANSITION" %}
{%   set PCAPBPF = ["ip and host 255.255.255.1 and port 1"] %}
{% else %}
{%   import_yaml 'bpf/defaults.yaml' as BPFDEFAULTS %}
{%   set BPFMERGED = salt['pillar.get']('bpf', BPFDEFAULTS.bpf, merge=True) %}
{%   import 'bpf/macros.jinja' as MACROS %}
{{   MACROS.remove_comments(BPFMERGED, 'pcap') }}
{%   set PCAPBPF = BPFMERGED.pcap %}
{% endif %}
