{% from 'vars/globals.map.jinja' import GLOBALS %}
{% set PCAP_BPF_STATUS = 0  %}

{%   import_yaml 'bpf/defaults.yaml' as BPFDEFAULTS %}
{%   set BPFMERGED = salt['pillar.get']('bpf', BPFDEFAULTS.bpf, merge=True) %}
{%   import 'bpf/macros.jinja' as MACROS %}
{{   MACROS.remove_comments(BPFMERGED, 'pcap') }}
{%   set PCAPBPF = BPFMERGED.pcap %}

{% if PCAPBPF %}
   {% set PCAP_BPF_CALC = salt['cmd.script']('salt://common/tools/sbin/so-bpf-compile', GLOBALS.sensor.interface + ' ' + PCAPBPF|join(" "),cwd='/root') %}
   {% if PCAP_BPF_CALC['retcode'] == 0 %}
      {% set PCAP_BPF_STATUS = 1 %}
   {% endif %}
{% endif %}
