{%- macro write_config_line(cfg) %}
  {%- for k,v in cfg.items() -%}
{{ k }} = {{ v }}
  {%  endfor %}
{%- endmacro %}

{{ write_config_line(config.get("default", {})) }}
  {% for header, cfg in config.items() %}
    {%-   if header == "default" %}{% continue %}{% endif %}
[{{ header }}]
{{ write_config_line(cfg) }}
{%  endfor %}